# BARMM

In [11]:
import pandas as pd
import numpy as np
import os

import geopandas as gpd
from geopandas.tools import sjoin
from shapely.geometry import Point, Polygon
import rtree
import pygeos
import fiona
from pykml import parser


pd.options.display.max_columns = 999

In [12]:
os.getcwd()

'/files/ascollanto/01 BARRM DATA CHALLENGE'

In [13]:
anjAPIKey = "AIzaSyAtdWyVx2SxXQKELJTq8WnBLReUvF7K8bk"
def get_lat_lng(apiKey, address):
    """
    Returns the latitude and longitude of a location using the Google Maps Geocoding API. 
    API: https://developers.google.com/maps/documentation/geocoding/start

    # INPUT -------------------------------------------------------------------
    apiKey                  [str]
    address                 [str]

    # RETURN ------------------------------------------------------------------
    lat                     [float] 
    lng                     [float] 
    """
    import requests
    url = ('https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'.format(address.replace(' ','+'), apiKey))
    try:
        response = requests.get(url)
        resp_json_payload = response.json()
        lat = resp_json_payload['results'][0]['geometry']['location']['lat']
        lng = resp_json_payload['results'][0]['geometry']['location']['lng']
    except:
        print('ERROR: {}'.format(address))
        lat = 0
        lng = 0
    return lat, lng

## Basic Info

In [ ]:
#PSGC codes
# province_psgc = pd.read_excel("Reference/province_psgc.xlsx")
# province_psgc.columns = ['PSGC_PROV','PROV']
# province_psgc['PSGC_PROV'] = province_psgc['PSGC_PROV'].str.replace(' ', '')
# province_psgc['PSGC_PROV'] = ['PH'+x[:4]+"00000" for x in province_psgc['PSGC_PROV']]

# city_psgc = pd.read_excel("Reference/city_psgc.xlsx")
# city_psgc.columns = ['PSGC_CITY/MUNI','CITY/MUNI']
# city_psgc['PSGC_CITY/MUNI'] = city_psgc['PSGC_CITY/MUNI'].str.replace(' ', '')
# city_psgc['PSGC_CITY/MUNI'] = ['PH'+x[:6]+"000" for x in city_psgc['PSGC_CITY/MUNI']]
# city_psgc['PSGC_PROV'] = [x[:6]+"00000" for x in city_psgc['PSGC_CITY/MUNI']]

# brgy_psgc = pd.read_excel("Reference/barangay_psgc.xlsx")
# brgy_psgc.columns = ['PSGC_BRGY','BRGY']
# brgy_psgc.PSGC_BRGY = brgy_psgc.PSGC_BRGY.str.replace(' ', '')
# brgy_psgc['PSGC_BRGY'] = 'PH' + brgy_psgc['PSGC_BRGY'].astype(str)
# brgy_psgc['PSGC_CITY/MUNI'] = [x[:8]+"000" for x in brgy_psgc['PSGC_BRGY']]

# psgc = province_psgc.merge(city_psgc,on="PSGC_PROV",how='left')
# psgc = psgc.merge(brgy_psgc,on="PSGC_CITY/MUNI",how='left')
# psgc['brgy_address'] = psgc['BRGY']+' '+psgc['CITY/MUNI']+' '+psgc['PROV']+' PHILIPPINES'

# psgc.to_excel("Reference/complete_psgc.xlsx")
# del brgy_psgc,city_psgc,province_psgc

psgc = pd.read_excel("Reference/complete_psgc.xlsx")
psgc = psgc.drop(columns=['Unnamed: 0'])
psgc['BRGY'] = psgc['BRGY'].str.strip().str.upper()
psgc['CITY/MUNI'] = psgc['CITY/MUNI'].str.strip().str.upper()

# population and ethnicity
Population_2010_2015 = pd.read_excel("2-Tabular Data/5-Social/Population 2010, 2015 ARMM,BCT.xlsx")
Population_2010_2015 = Population_2010_2015.loc[Population_2010_2015.PSGC_REGI=="PH150000000"]

Population_2010_2015['Total_under18'] = Population_2010_2015.loc[:, 'sin_age_bot_und_001':'sin_age_bot_017'].sum(axis=1)
Population_2010_2015['Total_18to59'] = Population_2010_2015.loc[:, 'sin_age_bot_018':'sin_age_bot_059'].sum(axis=1)
Population_2010_2015['Total_over60'] = Population_2010_2015.loc[:, 'sin_age_bot_060':'sin_age_bot_080_and_ove'].sum(axis=1)

Population_2010_2015['Male_under18'] = Population_2010_2015.loc[:, 'sin_age_mal_und_001':'sin_age_mal_017'].sum(axis=1)
Population_2010_2015['Male_18to59'] = Population_2010_2015.loc[:, 'sin_age_mal_018':'sin_age_mal_059'].sum(axis=1)
Population_2010_2015['Male_over60'] = Population_2010_2015.loc[:, 'sin_age_mal_060':'sin_age_mal_080_and_ove'].sum(axis=1)

Population_2010_2015['Female_under18'] = Population_2010_2015.loc[:, 'sin_age_fem_und_001':'sin_age_fem_017'].sum(axis=1)
Population_2010_2015['Female_18to59'] = Population_2010_2015.loc[:, 'sin_age_fem_018':'sin_age_fem_059'].sum(axis=1)
Population_2010_2015['Female_over60'] = Population_2010_2015.loc[:, 'sin_age_fem_060':'sin_age_fem_080_and_ove'].sum(axis=1)

Population_2010_2015[['PSGC_CITY/MUNI','PSGC_BRGY','Pop2010','Pop2015','HH_pop','num_hh0',\
                      'num_hh0','num_hh0_mal','num_hh0_fem','num_hh0_both',\
                      'bel_20_hh0','20-29_hh0','30-39_hh0','40-49_hh0','50-59_hh0','60-69_hh0','70-79_hh0','80_abv',\
                      'num_hh0_mal.1','bel_20_hh0_mal','20-29_hh0_mal','30-39_hh0_mal','40-49_hh0_mal','50-59_hh0_mal','60-69_hh0_mal','70-79_hh0_mal','80_abv_mal',\
                      'num_hh0_fem.1','bel_20_hh0_fem','20-29_hh0_fem','30-39_hh0_fem','40-49_hh0_fem','50-59_hh0_fem','60-69_hh0_fem','70-79_hh0_fem','80_abv_fem',
                      'Total_under18','Total_18to59','Total_over60',
                      'Male_under18','Male_18to59','Male_over60',
                      'Female_under18','Female_18to59','Female_over60']].to_excel('Processed/BARMM_Population1015.xlsx')

ethnicity = pd.read_excel("2-Tabular Data/5-Social/Household Population by Ethnicity (ARMM, 2010)/Household Population by Ethnicity (ARMM, 2010) Brgy.xlsx") #household level i think
ethnicity.loc[:, (ethnicity != 0).any(axis=0)]
# Areas that have restrictions in entering
ground_zero = pd.read_excel("2-Tabular Data/1-Administrative/Ground Zero.xlsx")

## 3 Education

In [5]:
schools_2017 = pd.read_excel("2-Tabular Data/2-Infrastructure/SchoolsDepEd2017.xlsx")

no_of_School_Per_Prov = pd.read_excel("2-Tabular Data/5-Social/Number of School Per Prov.xlsx")
no_of_schools_per_muni = pd.read_excel("2-Tabular Data/5-Social/Number of schools per muni.xlsx")
no_of_schools_per_brgy = pd.read_excel("2-Tabular Data/5-Social/Number of schools per brgy(1).xlsx")

day_care = gpd.read_file("1-Geodata/5-SOCIAL/Social - Day Care Centers in ARMM (RPDO, 2018)/Social - Day Care Centers, 2018 - ARMM.shp")

In [6]:
schools_2017.SCH_CAT.unique()

array(['ES', 'CES', 'PS', 'PES', 'MD', 'JHS', 'SHS', 'PSHS', 'PJHS',
       'SUC'], dtype=object)

In [7]:
psgc

,PSGC_PROV,PROV,PSGC_CITY/MUNI,CITY/MUNI,PSGC_BRGY,BRGY,brgy_address
0,PH150700000,BASILAN ...,PH150702000,CITY OF LAMITAN,PH150702001,ARCO,Arco ...
1,PH150700000,BASILAN ...,PH150702000,CITY OF LAMITAN,PH150702002,BA-AS,Ba-as ...
2,PH150700000,BASILAN ...,PH150702000,CITY OF LAMITAN,PH150702004,BAIMBING,Baimbing ...
3,PH150700000,BASILAN ...,PH150702000,CITY OF LAMITAN,PH150702005,BALAGTASAN,Balagtasan ...
4,PH150700000,BASILAN ...,PH150702000,CITY OF LAMITAN,PH150702006,BALAS,Balas ...
...,...,...,...,...,...,...,...
2511,PH157000000,TAWI-TAWI ...,PH157011000,SIBUTU,PH157011012,TANDU BANAK,Tandu Banak ...
2512,PH157000000,TAWI-TAWI ...,PH157011000,SIBUTU,PH157011013,TAUNGOH,Taungoh ...
2513,PH157000000,TAWI-TAWI ...,PH157011000,SIBUTU,PH157011014,TONGEHAT,Tongehat ...
2514,PH157000000,TAWI-TAWI ...,PH157011000,SIBUTU,PH157011015,TONGSIBALO,Tongsibalo ...
2515,PH157000000,TAWI-TAWI ...,PH157011000,SIBUTU,PH157011016,UNGUS-UNGUS,Ungus-ungus ...

## Govt Programs

In [8]:
# Housing Programs
# Fields: barangay, which program was done there per year
ARMMBridgeandARMMHelps2018 = pd.read_excel("2-Tabular Data/8-Interventions/ARMMBridgeandARMMHelps2018.xlsx") # BRIDGE and HELPS - building houses program

# Construction
# Fields: construction type, year, community, how much spent
Interventionp2015ASFPARMMIBRD = pd.read_excel("2-Tabular Data/8-Interventions/InterventionASFPARMMIBRD2015.xlsx")
Interventionp2015ASFPARMMIBRD['Program'] = 'ASFPARMMIBRD'
Interventionp2015ASFPARMMIBRD['Year'] = 2015
Interventionp2015ASFPARMMIBRD = Interventionp2015ASFPARMMIBRD.rename(columns = {'PSGC':'PSGC_BRGY','NAME':'Project'})
Interventionp2015ASFPARMMIBRD = Interventionp2015ASFPARMMIBRD[['PSGC_BRGY','Year','Program','Project','CATEGORY']]


Intervention2019HDAPARMM = pd.read_excel("2-Tabular Data/8-Interventions/InterventionHDAPARMM2019.xlsx")
Intervention2016PAMANAARMMOPAPP = pd.read_excel("2-Tabular Data/8-Interventions/InterventionPAMANAARMMOPAPP2016.xlsx")
Intervention2014TISPARMM = pd.read_excel("2-Tabular Data/8-Interventions/InterventionTISPARMM2014.xlsx")

In [9]:
Interventionp2015ASFPARMMIBRD.head()

,PSGC_BRGY,Year,Program,Project,CATEGORY
0,PH150708002,2015,ASFPARMMIBRD,Construction of One (1) Unit Two Cl School Bui...,Education
1,PH150708002,2015,ASFPARMMIBRD,Construction of Rockcauseway with Pier Head,Transport
2,PH150708003,2015,ASFPARMMIBRD,Construction of Barangay Health Station with C...,Health
3,PH150708003,2015,ASFPARMMIBRD,Construction of Communal Toilet with Rain Coll...,Water and Sanitation
4,PH150708004,2015,ASFPARMMIBRD,Construction of Barangay Health Station with C...,Health

In [10]:
Intervention2019HDAPARMM.PSGC_BRGY.isna().sum()

AttributeError: 'DataFrame' object has no attribute 'PSGC_BRGY'

In [ ]:
Intervention2019HDAPARMM = pd.read_excel("2-Tabular Data/8-Interventions/InterventionHDAPARMM2019.xlsx")

Intervention2019HDAPARMM["Municipality (corrected)"] = Intervention2019HDAPARMM["Municipality (corrected)"].str.upper() 
Intervention2019HDAPARMM["Barangay (corrected)"] = Intervention2019HDAPARMM["Barangay (corrected)"].str.upper() 
Intervention2019HDAPARMM = Intervention2019HDAPARMM.merge(psgc[['PSGC_BRGY','BRGY']],left_on = "Barangay (corrected)", right_on ="BRGY",how='left')
Intervention2019HDAPARMM = Intervention2019HDAPARMM.merge(psgc[['PSGC_CITY/MUNI','CITY/MUNI']],left_on = "Municipality (corrected)", right_on ="CITY/MUNI",how='left')

Intervention2019HDAPARMM.head()

In [ ]:
Intervention2016PAMANAARMMOPAPP.head()

In [ ]:
Intervention2014TISPARMM.head()

In [ ]:
ARMMBridgeandARMMHelps2018.head()

## 1 No Poverty

In [39]:
# Jobs 
work_2015 = pd.read_excel("2-Tabular Data/5-Social/GainfulWorkers15YearsOldandOverbyMajorOccupationGroupAgeGroupSex(ARMM 2015)/Gainful Workers 15 Years Old and Over by Major Occupation Group, Age Group, Sex (ARMM 2015) Barangay.xlsx")

#businesses & banks
#count of businesses per municipality level
dti_businesses = gpd.read_file("1-Geodata/6-ECONOMIC/Economic - DTI Registered Firms in ARMM (DTI, 2013)/Economic - DTI Registered Firms, 2013 - ARMM DTI.shp")
# location
banks = gpd.read_file("1-Geodata/6-ECONOMIC/Economic - Location of Banks in ARMM (Bangko Sentral ng Pilipinas, 2018)/Economic - Location of Banks, 2018 - ARMM - Bangko Sentral ng Pilipinas.shp")
# location of firms
firms = gpd.read_file("1-Geodata/6-ECONOMIC/Economic - Operational ARMM RBOI Registered Firms from 1992-2018 (ARMM-RBOI, 2018)/Economic - Operational ARMM RBOI Registered Firms (1992 - 2018) - ARMM-RBOI.shp")

In [151]:
# Poverty multifaceted (hazards: susceptibility to risk) ======================================

flood = gpd.read_file("1-Geodata/4-HAZARDS/Hazards - Flood-prone Areas in BCT (MGB, 2015)/Hazards - Flood - BCT - MGB.shp")
fault_line = gpd.read_file('1-Geodata/4-HAZARDS/Hazards - Faultlines in ARMM (PhiVolcs, 2018)/ARMM_Faultlines_UTM51N_PhiVolcs.shp')
storm_surge = gpd.read_file('1-Geodata/4-HAZARDS/Hazards - Storm surge-prone areas in ARMM (UP NOAH, 2018)/Storm Surge_UTM51N_NOAH.shp')

## Health and Well Being

In [112]:
# Wash Programs
BUB_2013_WASH = pd.read_excel("2-Tabular Data/8-Interventions/BUB 2013-WASH.xlsx") # 
BUB_2013_WASH = BUB_2013_WASH.drop(columns=['AMT..1']).rename(columns={'BUB 2013':'BUB YEAR'})
BUB_2014_WASH = pd.read_excel("2-Tabular Data/8-Interventions/BUB 2014-WASH.xlsx") # 

SalinTubig_WASH = pd.read_excel("2-Tabular Data/8-Interventions/SalinTubig-WASH.xlsx")
TISP_WASH = pd.read_excel("2-Tabular Data/8-Interventions/TISP-WASH.xlsx")

BUB_WASH = pd.concat([BUB_2013_WASH,BUB_2014_WASH])

del BUB_2013_WASH,BUB_2014_WASH

In [122]:
# Drinking water
drink_water = pd.read_excel("2-Tabular Data/5-Social/Main Source of Water Supply for Drinking (ARMM 2015)/Main Source of Water Supply for Drinking (ARMM 2015) CityMuni.xlsx")
cook_water = pd.read_excel("2-Tabular Data/5-Social/Main Source of Water Supply for Cooking (ARMM 2015)/Main Source of Water Supply for Cooking (ARMM 2015) CityMuni.xlsx")

# Water Bodies
rivers = gpd.read_file("1-Geodata/3-PHYSICAL-ENVIRONMENTAL/Environment - River Line in ARMM (OSM, 2019)/Environment - River Line, 2019 - ARMM - OSM.shp")
water_bodies = gpd.read_file("1-Geodata/3-PHYSICAL-ENVIRONMENTAL/Environment - River Line in ARMM (OSM, 2019)/Environment - River Line, 2019 - ARMM - OSM.shp")

,PROV,MUNI,PSGC_PROV,PSGC_MUNI,Amt,Project Title
0,MAGUINDANAO,PAGAGAWAN,PH153800000,PH153822000,8.82,Salintubig Regular
1,MAGUINDANAO,DATU ODIN SINSUAT (DINAIG),PH153800000,PH153807000,8.82,Salintubig Regular
2,MAGUINDANAO,Guindulungan,PH153800000,PH153825000,8.82,Salintubig Regular
3,MAGUINDANAO,KABUNTALAN (TUMBAO),PH153800000,PH153814000,8.82,Salintubig Regular
4,MAGUINDANAO,Northern Kabuntalan,PH153800000,PH153834000,8.82,Salintubig Regular

In [ ]:
drink_water.head()

In [118]:
cook_water.head()

,CITY_MUNI,PSGC,Number of Households,Own use faucet community water system,Shared faucet community water system,Own use tubed/piped deep well,Shared tubed/\npiped deep well,Tubed/\npiped shallow well,Dug well,Protected spring,Unprotected spring,Lake river rain and others,Peddler,Bottled water,Others
0,CITY OF LAMITAN,PH150702000,15065,3621,3585,592,2991,586,2899,542,31,127,40,47,4
1,LANTAWAN,PH150703000,4609,585,834,278,1673,23,781,193,118,107,16,1,0
2,MALUSO,PH150704000,6294,2783,2134,262,346,2,132,153,183,218,58,21,2
3,SUMISIP,PH150705000,7408,737,3187,328,720,163,1150,367,15,465,223,52,1
4,TIPO-TIPO,PH150706000,3149,364,773,14,574,38,427,38,271,598,1,0,51

## HEALTH : Determining Location for New RHU or BHS

### Count of RHUs and BHS for each area

In [105]:
rhu_bhs = gpd.read_file("1-Geodata/5-SOCIAL/Social - No. of RHU and BHS in ARMM (DOH, 2018)/Social - No. of RHU and BHS in ARMM, 2018 - DOH.shp")
rhu_bhs = rhu_bhs[['Mun_Code','Population','BANGSAMO_2','RHU Sheet1','Establishm','geometry']]
rhu_bhs["geometry"] = rhu_bhs['geometry'].to_crs(epsg=4326)
rhu_bhs["area"] = rhu_bhs['geometry'].area/10**6

/opt/envs/airflow/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  after removing the cwd from sys.path.

### Hospitals in Bangsamoro DataBase

In [106]:
hospitals = gpd.read_file("1-Geodata/5-SOCIAL/Social - Hospital Locations in ARMM (DOH, 2018)/Social - Hospital Locations, 2018 -ARMM - DOH.shp")
hospitals = hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC','HEALTH FAC','LAT','LONG','geometry']]
hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']] = hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']].replace(np.nan, 0, regex=True)
hospitals['PROV_PSGC'] =  ["PH"+str(x) for x in hospitals['PROV_PSGC']]
hospitals['BRGY_PSGC'] =  ["PH"+str(int(x)) for x in hospitals['BRGY_PSGC']]
hospitals['MUNI_PSGC'] =  ["PH"+str(int(x)) for x in hospitals['MUNI_PSGC']]
hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']] = hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']].replace('PH0', '')
hospitals["geometry"] = hospitals['geometry'].to_crs(epsg=4326)

### Hospitals on Google Maps

In [107]:
# https://www.google.com/maps/d/viewer?ie=UTF8&oe=UTF8&hl=en&msa=0&start=0&num=200&mid=1iHj9oLetM0ashn-46JlVAjakyV8&ll=6.4684573957861735%2C122.43705112153759&z=9

# with open("External Source/Government and Public Hospitals in the Philippines.kml") as f:
#   folder = parser.parse(f).getroot().Document.Folder

# plnm=[]
# cordi=[]
# for pm in folder.Placemark:
#     plnm1=pm.name
#     plcs1=pm.Point.coordinates
#     plnm.append(plnm1.text)
#     cordi.append(plcs1.text)
    
# google_hospitals = pd.DataFrame({'hosp_name':plnm,'coordinates':cordi})
# google_hospitals['coordinates'] = google_hospitals['coordinates'].str.replace(' ', '')
# google_hospitals['coordinates'] = google_hospitals['coordinates'].str.replace('\n', '')
# google_hospitals = pd.concat([google_hospitals[['hosp_name','coordinates']], google_hospitals['coordinates'].str.split(',', expand=True)], axis=1)
# google_hospitals.columns = ['hosp_name','coordinates','longitude','latitude','h'] 
# google_hospitals = gpd.GeoDataFrame(google_hospitals,geometry=gpd.points_from_xy(google_hospitals.longitude, google_hospitals.latitude),crs="EPSG:4326")

# del plnm,cordi,plcs1,plnm1,folder

# google_hospitals = sjoin(google_hospitals, rhu_bhs[['Mun_Code','geometry']], how='left',op='within')
# google_hospitals = google_hospitals[google_hospitals.Mun_Code.notna()].reset_index()
# google_hospitals.to_excel("External Source/GoogleMapsHospitals.xlsx")

google_hospitals = pd.read_excel("External Source/GoogleMapsHospitals.xlsx").drop(columns=['Unnamed: 0','index'])

### 2018 DOH list of RHUs in the Philippines

In [108]:
doh_rhu = pd.read_excel("External Source/NHFR_RHUFacilities_asofNov82018_2.xlsx")
doh_rhu = doh_rhu[doh_rhu.RegionPSGC==150000000]
doh_rhu = doh_rhu.replace('-', None)
doh_rhu['PSGC_PROV'] = ['PH'+str(x) for x in doh_rhu['ProvincePSGC']]
doh_rhu['PSGC_CITY/MUNI'] = ['PH'+str(x) for x in doh_rhu['City/MunicipalityPSGC']]
doh_rhu['PSGC_BRGY'] = ['PH'+str(x) for x in doh_rhu['BarangayPSGC']]
doh_rhu['FacilityAddress'] = doh_rhu['FacilityName']+' '+doh_rhu['BarangayName']+' '+doh_rhu['City/MunicipalityName']+' '+doh_rhu['ProvinceName']+' PHILIPPINES'

doh_rhu = doh_rhu[['HealthFacilityCode','PSGC_PROV','PSGC_CITY/MUNI','PSGC_BRGY',\
                   'ProvinceName','City/MunicipalityName','BarangayName','FacilityAddress',\
                   'HealthFacilityCode','HealthFacilityCodeShort','FacilityName','HealthFacilityType',\
                   'OwnershipMajorClassification','OwnershipSubClassificationforGovernmentFacilities']]

# doh_rhu_add = pd.DataFrame()
# for i in doh_rhu.FacilityAddress:
#     print(str(i)+' out of '+str(doh_rhu.shape[0]))
#     lat,long = get_lat_lng(anjAPIKey,i)
#     doh_rhu_add = pd.concat([doh_rhu_add,pd.DataFrame({'FacilityAddress':[i],'LAT':[lat],'LONG':[long]})])
# doh_rhu_add.to_excel('External Source/NHFR_RHUFacilities_LonLat.xlsx')

doh_rhu_add = pd.read_excel('External Source/NHFR_RHUFacilities_LonLat.xlsx')
doh_rhu_add = doh_rhu_add.drop(columns='Unnamed: 0')

doh_rhu = pd.merge(doh_rhu,doh_rhu_add,on='FacilityAddress',how='left')
doh_rhu = gpd.GeoDataFrame(doh_rhu,geometry=gpd.points_from_xy(doh_rhu.LONG, doh_rhu.LAT),crs="EPSG:4326")
doh_rhu = doh_rhu[['FacilityName','geometry','LONG','LAT','PSGC_CITY/MUNI','PSGC_BRGY','PSGC_PROV',\
                  'HealthFacilityType','HealthFacilityCode','OwnershipMajorClassification','OwnershipSubClassificationforGovernmentFacilities']]
doh_rhu = doh_rhu.loc[:,~doh_rhu.columns.duplicated()]
doh_rhu = doh_rhu.rename(columns={'HealthFacilityType':'Type'})

del doh_rhu_add

### Merge all hospitals

In [147]:
hospitals = hospitals[['HEALTH FAC','geometry','LONG','LAT','MUNI_PSGC','BRGY_PSGC','PROV_PSGC']]
google_hospitals = google_hospitals[['hosp_name','geometry','longitude','latitude','Mun_Code']]
google_hospitals = google_hospitals[~google_hospitals.hosp_name.isin(hospitals['HEALTH FAC'].values)]

hospitals.columns = ['FacilityName','geometry','LONG','LAT','PSGC_CITY/MUNI','PSGC_BRGY','PSGC_PROV']
google_hospitals.columns = ['FacilityName','geometry','LONG','LAT','PSGC_CITY/MUNI']

df_hospitals = pd.concat([hospitals, google_hospitals])
df_hospitals['Type'] = 'Hospital'

df_hosp_rhu = pd.concat([df_hospitals, doh_rhu])

del df_hospitals

df_hosp_rhu.to_excel('Processed/Hospitals_RHUs.xlsx')
df_hosp_rhu.head()

,FacilityName,geometry,LONG,LAT,PSGC_CITY/MUNI,PSGC_BRGY,PSGC_PROV,Type,HealthFacilityCode,OwnershipMajorClassification,OwnershipSubClassificationforGovernmentFacilities
0,Lamitan District Hospital,POINT (122.13658 6.65628),122.136584,6.656280,PH150702000,,PH150700000,Hospital,NaN,NaN,NaN
1,Sumisip District Hospital,POINT (122.00655 6.42600),122.006554,6.425996,PH150705000,PH150705031,PH150700000,Hospital,NaN,NaN,NaN
2,Lamitan Infirmary,POINT (122.13658 6.65626),122.136576,6.656264,PH150702000,,PH150700000,Hospital,NaN,NaN,NaN
3,Tamparan District Hospital,POINT (124.32817 7.87631),124.328168,7.876309,PH153626000,PH153626034,PH153600000,Hospital,NaN,NaN,NaN
4,Dr. Serapio Montaner Memorial Hospital,POINT (124.08089 7.58108),124.080893,7.581081,PH153615000,,PH153600000,Hospital,NaN,NaN,NaN

In [8]:
current locations to map out
- education - school locations and type
- hospitals - hospital locations 
- economic geodata - businesses and banks registered - see economic focus of certain areas and determine which need more focus

features for model to determine locations of focus
- population density of areas - to determine the need for schools or if susceptible sa spread of covid
- gainful workers data - 
- roads - check if hospitals or schools accessible to the community
- hazard - map out areas that are susceptible to floods, landslides, etc

* di ko alam kung itutuloy niyo pa yung good governance
- interventions - expenditure on house-building projects, Public water system construction, etc

Other data sources 
- DOH data on RHUs and locations
- Google Earth Data on hospitals

SyntaxError: invalid syntax (<ipython-input-8-72b9dc0eb6e0>, line 1)

In [ ]:
# Power BI R code
library(readxl)

psgc <- read_excel('//10.51.2.73/Dev Files/ascollanto/01 BARRM DATA CHALLENGE/Reference/complete_psgc.xlsx')
population <- read_excel('//10.51.2.73/Dev Files/ascollanto/01 BARRM DATA CHALLENGE/Processed/BARMM_Population1015.xlsx')
hosp_rhu <- read_excel('//10.51.2.73/Dev Files/ascollanto/01 BARRM DATA CHALLENGE/Processed/Hospitals_RHUs.xlsx')

schools_2017 <- read_excel("//10.51.2.73/Dev Files/ascollanto/01 BARRM DATA CHALLENGE/2-Tabular Data/2-Infrastructure/SchoolsDepEd2017.xlsx")