# BARMM

In [1]:
import pandas as pd
import numpy as np
import os

import geopandas as gpd
from geopandas.tools import sjoin
from shapely.geometry import Point, Polygon
import rtree
import pygeos
import fiona
from pykml import parser


pd.options.display.max_columns = 999

/opt/envs/airflow/lib/python3.6/site-packages/geopandas/_compat.py:88: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.8.1-CAPI-1.13.3). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
os.getcwd()

'/files/ascollanto/01 BARRM DATA CHALLENGE'

In [3]:
anjAPIKey = "AIzaSyAtdWyVx2SxXQKELJTq8WnBLReUvF7K8bk"
def get_lat_lng(apiKey, address):
    """
    Returns the latitude and longitude of a location using the Google Maps Geocoding API. 
    API: https://developers.google.com/maps/documentation/geocoding/start

    # INPUT -------------------------------------------------------------------
    apiKey                  [str]
    address                 [str]

    # RETURN ------------------------------------------------------------------
    lat                     [float] 
    lng                     [float] 
    """
    import requests
    url = ('https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'.format(address.replace(' ','+'), apiKey))
    try:
        response = requests.get(url)
        resp_json_payload = response.json()
        lat = resp_json_payload['results'][0]['geometry']['location']['lat']
        lng = resp_json_payload['results'][0]['geometry']['location']['lng']
    except:
        print('ERROR: {}'.format(address))
        lat = 0
        lng = 0
    return lat, lng

def get_googleplaces(lonlat_string,rads,place_type,apiKey):
    import requests
    url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={}&radius={}&types={}&key={}'.format(lonlat_string,rads,place_type,apiKey)
    all_places = pd.DataFrame()
    try:
        response = requests.get(url)
        resp_json_payload = response.json()
        for i in np.arange(0,len(resp_json_payload['results'])):
            place_id = resp_json_payload['results'][i]['place_id'] 
            lat = resp_json_payload['results'][i]['geometry']['location']['lat']
            lng = resp_json_payload['results'][i]['geometry']['location']['lng']
            est_name = resp_json_payload['results'][i]['name']
            buss_status = resp_json_payload['results'][i]['business_status']
            temp = pd.DataFrame({'place_id':[place_id],'Name':[est_name],'Status':[buss_status],'LAT':[lat],"LONG":[lng],'PlaceType':[place_type]})
            all_places = pd.concat([all_places,temp])
    except:
        print('ERROR: {}'.format(lonlat_string))
        lat = 0
        lng = 0
    return all_places
#     return lat, lng

# 1 Administrative Bounds

In [4]:
#PSGC codes
# province_psgc = pd.read_excel("Reference/province_psgc.xlsx")
# province_psgc.columns = ['PSGC_PROV','PROV']
# province_psgc['PSGC_PROV'] = province_psgc['PSGC_PROV'].str.replace(' ', '')
# province_psgc['PSGC_PROV'] = ['PH'+x[:4]+"00000" for x in province_psgc['PSGC_PROV']]

# city_psgc = pd.read_excel("Reference/city_psgc.xlsx")
# city_psgc.columns = ['PSGC_CITY/MUNI','CITY/MUNI']
# city_psgc['PSGC_CITY/MUNI'] = city_psgc['PSGC_CITY/MUNI'].str.replace(' ', '')
# city_psgc['PSGC_CITY/MUNI'] = ['PH'+x[:6]+"000" for x in city_psgc['PSGC_CITY/MUNI']]
# city_psgc['PSGC_PROV'] = [x[:6]+"00000" for x in city_psgc['PSGC_CITY/MUNI']]

# brgy_psgc = pd.read_excel("Reference/barangay_psgc.xlsx")
# brgy_psgc.columns = ['PSGC_BRGY','BRGY']
# brgy_psgc.PSGC_BRGY = brgy_psgc.PSGC_BRGY.str.replace(' ', '')
# brgy_psgc['PSGC_BRGY'] = 'PH' + brgy_psgc['PSGC_BRGY'].astype(str)
# brgy_psgc['PSGC_CITY/MUNI'] = [x[:8]+"000" for x in brgy_psgc['PSGC_BRGY']]

# psgc = province_psgc.merge(city_psgc,on="PSGC_PROV",how='left')
# psgc = psgc.merge(brgy_psgc,on="PSGC_CITY/MUNI",how='left')
# psgc['brgy_address'] = psgc['BRGY']+' '+psgc['CITY/MUNI']+' '+psgc['PROV']+' PHILIPPINES'

# psgc.to_excel("Reference/complete_psgc.xlsx")
# del brgy_psgc,city_psgc,province_psgc

# psgc = pd.read_excel("Reference/complete_psgc.xlsx")
# psgc = psgc.drop(columns=['Unnamed: 0'])
# psgc['BRGY'] = psgc['BRGY'].str.strip().str.upper()
# psgc['CITY/MUNI'] = psgc['CITY/MUNI'].str.strip().str.upper()

In [22]:
admin_bounds = gpd.read_file("1-Geodata/1-ADMINISTRATIVE/Administrative Boundaries - BARMM Barangays ao 20190206 (PSA 2016)/AdministrativeBoundariesBARMMBarangays20190206PSA2016.shp")
admin_bounds.columns = ['PSGC_REGION','REGION_NAME',
                        'PSGC_PROV','PROV_NAME',
                        'PSGC_MUNI','MUNI_NAME',
                        'PSGC_BRGY','BRGY_NAME',
                        'geometry']
admin_bounds["geometry"] = admin_bounds['geometry'].to_crs(epsg=4326)

admin_bounds['BRGY_NAME'] = admin_bounds['BRGY_NAME'].str.upper()
admin_bounds['MUNI_NAME'] = admin_bounds['MUNI_NAME'].str.upper()
admin_bounds['PROV_NAME'] = admin_bounds['PROV_NAME'].str.upper()

# admin_bounds2 = admin_bounds[['PSGC_BRGY','geometry']]
# admin_bounds2.geometry = admin_bounds2.representative_point()
# admin_bounds2
admin_bounds

,PSGC_REGION,REGION_NAME,PSGC_PROV,PROV_NAME,PSGC_MUNI,MUNI_NAME,PSGC_BRGY,BRGY_NAME,geometry
0,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,PH157001000,PANGLIMA SUGALA (BALIMBING),PH157001001,BALIMBING PROPER,"MULTIPOLYGON (((119.95374 5.07851, 119.95384 5..."
1,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,PH157001000,PANGLIMA SUGALA (BALIMBING),PH157001002,BATU-BATU (POB.),"POLYGON ((119.88709 5.06919, 119.88709 5.06920..."
2,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,PH157001000,PANGLIMA SUGALA (BALIMBING),PH157001003,BUAN,"MULTIPOLYGON (((120.06363 5.16131, 120.06365 5..."
3,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,PH157001000,PANGLIMA SUGALA (BALIMBING),PH157001004,DUNGON,"POLYGON ((120.13585 5.19601, 120.13584 5.19603..."
4,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,PH157001000,PANGLIMA SUGALA (BALIMBING),PH157001005,LUUK BUNTAL,"MULTIPOLYGON (((119.98776 4.98564, 119.98774 4..."
...,...,...,...,...,...,...,...,...,...
2584,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH153800000,MAGUINDANAO,PH153818000,BARIRA,PH153818010,TOGAIG,"POLYGON ((124.33339 7.52507, 124.31026 7.52555..."
2585,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,PH157005000,SITANGKAI,PH157005022,NORTH LARAP,"MULTIPOLYGON (((119.23780 4.72625, 119.23775 4..."
2586,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,PH157004000,SIMUNUL,PH157004010,MARUWA,"MULTIPOLYGON (((119.81779 4.90576, 119.81779 4..."
2587,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,PH157003000,MAPUN (CAGAYAN DE TAWI-TAWI),PH157003001,BOKI,"MULTIPOLYGON (((118.40091 6.87890, 118.40090 6..."
2588,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,PH157003000,MAPUN (CAGAYAN DE TAWI-TAWI),PH157003010,TANDUAN,"MULTIPOLYGON (((118.42112 7.00969, 118.42112 7..."

In [16]:
muni_bounds = gpd.read_file("1-Geodata/1-ADMINISTRATIVE/Administrative Boundaries - BARMM Municipalities ao 20190206 (PSA 2016)/AdministrativeBoundariesBARMMMunicipalities20190206PSA2016.shp")
muni_bounds.columns = ['PSGC_REGION','REGION_NAME',
                        'PSGC_PROV','PROV_NAME',
                        'PSGC_MUNI','MUNI_NAME',
                        'geometry']
muni_bounds["geometry"] = muni_bounds['geometry'].to_crs(epsg=4326)

muni_bounds['MUNI_NAME'] = muni_bounds['MUNI_NAME'].str.upper()
muni_bounds['PROV_NAME'] = muni_bounds['PROV_NAME'].str.upper()

muni_bounds["geometry"] = muni_bounds['geometry'].to_crs(epsg=3857)
muni_bounds["area"] = muni_bounds['geometry'].area/ 10**6

muni_bounds2 = muni_bounds[['PSGC_MUNI','geometry']]
muni_bounds2.geometry = muni_bounds2.representative_point()
muni_bounds2['lon'] = muni_bounds2['geometry'].x
muni_bounds2['lat'] = muni_bounds2['geometry'].y

del muni_bounds
muni_bounds2.head()

/opt/envs/airflow/lib/python3.6/site-packages/geopandas/geodataframe.py:853: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

     PSGC_MUNI                         geometry           lon            lat
0  PH153630000  POINT (13880184.355 852880.518)  1.388018e+07  852880.518436
1  PH156619000  POINT (13511871.785 665781.661)  1.351187e+07  665781.660776
2  PH156609000  POINT (13458511.820 663280.580)  1.345851e+07  663280.579970
3  PH153807000  POINT (13836038.894 790420.420)  1.383604e+07  790420.419501
4  PH153621000  POINT (13823280.863 892884.021)  1.382328e+07  892884.021352

# population and ethnicity

In [7]:
Population_2010_2015 = pd.read_excel("2-Tabular Data/5-Social/Population 2010, 2015 ARMM,BCT.xlsx")
Population_2010_2015 = Population_2010_2015.loc[Population_2010_2015.PSGC_REGI=="PH150000000"]

Population_2010_2015['Total_under18'] = Population_2010_2015.loc[:, 'sin_age_bot_und_001':'sin_age_bot_017'].sum(axis=1)
Population_2010_2015['Total_18to59'] = Population_2010_2015.loc[:, 'sin_age_bot_018':'sin_age_bot_059'].sum(axis=1)
Population_2010_2015['Total_over60'] = Population_2010_2015.loc[:, 'sin_age_bot_060':'sin_age_bot_080_and_ove'].sum(axis=1)

Population_2010_2015['Male_under18'] = Population_2010_2015.loc[:, 'sin_age_mal_und_001':'sin_age_mal_017'].sum(axis=1)
Population_2010_2015['Male_18to59'] = Population_2010_2015.loc[:, 'sin_age_mal_018':'sin_age_mal_059'].sum(axis=1)
Population_2010_2015['Male_over60'] = Population_2010_2015.loc[:, 'sin_age_mal_060':'sin_age_mal_080_and_ove'].sum(axis=1)

Population_2010_2015['Female_under18'] = Population_2010_2015.loc[:, 'sin_age_fem_und_001':'sin_age_fem_017'].sum(axis=1)
Population_2010_2015['Female_18to59'] = Population_2010_2015.loc[:, 'sin_age_fem_018':'sin_age_fem_059'].sum(axis=1)
Population_2010_2015['Female_over60'] = Population_2010_2015.loc[:, 'sin_age_fem_060':'sin_age_fem_080_and_ove'].sum(axis=1)

Population_2010_2015[['PSGC_CITY/MUNI','PSGC_BRGY','Pop2010','Pop2015','HH_pop','num_hh0',\
                      'num_hh0','num_hh0_mal','num_hh0_fem','num_hh0_both',\
                      'bel_20_hh0','20-29_hh0','30-39_hh0','40-49_hh0','50-59_hh0','60-69_hh0','70-79_hh0','80_abv',\
                      'num_hh0_mal.1','bel_20_hh0_mal','20-29_hh0_mal','30-39_hh0_mal','40-49_hh0_mal','50-59_hh0_mal','60-69_hh0_mal','70-79_hh0_mal','80_abv_mal',\
                      'num_hh0_fem.1','bel_20_hh0_fem','20-29_hh0_fem','30-39_hh0_fem','40-49_hh0_fem','50-59_hh0_fem','60-69_hh0_fem','70-79_hh0_fem','80_abv_fem',
                      'Total_under18','Total_18to59','Total_over60',
                      'Male_under18','Male_18to59','Male_over60',
                      'Female_under18','Female_18to59','Female_over60']].to_excel('Processed/BARMM_Population1015.xlsx')

ethnicity = pd.read_excel("2-Tabular Data/5-Social/Household Population by Ethnicity (ARMM, 2010)/Household Population by Ethnicity (ARMM, 2010) Brgy.xlsx") #household level i think
ethnicity.loc[:, (ethnicity != 0).any(axis=0)]
# Areas that have restrictions in entering
ground_zero = pd.read_excel("2-Tabular Data/1-Administrative/Ground Zero.xlsx")

# 3 Education

In [19]:
schools_2017 = pd.read_excel("2-Tabular Data/2-Infrastructure/SchoolsDepEd2017.xlsx")
schools_2017['SchoolAddress'] = schools_2017['SCH_NAME'] + " " + schools_2017['BARANGAY'] +" "+ schools_2017['MUNNAME'] + " " + schools_2017['PROV']
schools_2017['SchoolAddress'] = schools_2017['SchoolAddress'].replace(" PS", " Primary School", regex=True)
schools_2017['SchoolAddress'] = schools_2017['SchoolAddress'].replace(" ES", " Elementary School", regex=True)

schools_inco = schools_2017.loc[(schools_2017.LAT.isna()) & (schools_2017.LONG.isna())]
schools_comp = schools_2017.loc[(schools_2017.LAT.notna()) & (schools_2017.LONG.notna())]

schools_inco.head()

,SCH_ID,SCH_NAME,SCH_CAT,SCH_TYPE,LAT,LONG,BARANGAY,MUNNAME,PROV,PSGC_MUNI,PSGC_BRGY,PSGC_PROV,SchoolAddress
68,133166,Kinukutan ES,ES,Public,NaN,NaN,Kinukutan,Al-Barka,BASILAN,PH150709000,PH150709009,PH150700000,Kinukutan Elementary School Kinukutan Al-Barka...
157,133059,Upper Mahayahay PS,ES,Public,NaN,NaN,Mahayahay Upper (Zone II),Maluso,BASILAN,PH150704000,PH150704019,PH150700000,Upper Mahayahay Primary School Mahayahay Upper...
203,408468,"Mama's Love Elementary School, Inc.",PES,Private,NaN,NaN,Malakas,CITY OF LAMITAN (Capital),BASILAN,PH150702000,PH150702065,PH150700000,"Mama's Love Elementary School, Inc. Malakas CI..."
206,409135,Madrasatuz Zehra,MD,Private,NaN,NaN,Matatag,CITY OF LAMITAN (Capital),BASILAN,PH150702000,PH150702068,PH150700000,Madrasatuz Zehra Matatag CITY OF LAMITAN (Capi...
324,254505,Datu Caopacatan PS,PS,Public,NaN,NaN,Palacat,Piagapo,LANAO DEL SUR,PH153621000,PH153621022,PH153600000,Datu Caopacatan Primary School Palacat Piagapo...

In [20]:
# Geocode schools that do not have LON LAT
# Run this only once then just read the saved file

# schools_add = pd.DataFrame()
# for i in schools_inco.SchoolAddress:
#     print(str(i)+' out of '+str(schools_inco.shape[0]))
#     lat,long = get_lat_lng(anjAPIKey,i)
#     schools_add = pd.concat([schools_add,pd.DataFrame({'SchoolAddress':[i],'LAT':[lat],'LONG':[long]})])
# schools_add.to_excel('External Source/BARMM_Schools_Incomplete_2017_LonLat.xlsx')

schools_add = pd.read_excel('External Source/BARMM_Schools_Incomplete_2017_LonLat.xlsx').drop(columns = 'Unnamed: 0')
schools_add.head()

Kinukutan Elementary School Kinukutan Al-Barka BASILAN out of 172
Upper Mahayahay Primary School Mahayahay Upper (Zone II) Maluso BASILAN out of 172
Mama's Love Elementary School, Inc. Malakas CITY OF LAMITAN (Capital) BASILAN out of 172
Madrasatuz Zehra Matatag CITY OF LAMITAN (Capital) BASILAN out of 172
Datu Caopacatan Primary School Palacat Piagapo LANAO DEL SUR out of 172
Kinggan Primary School Kingan Tagoloan II LANAO DEL SUR out of 172
Buluan Technical Educational School of Life, Inc. Poblacion Buluan MAGUINDANAO out of 172
EASTERN KUTAWATO ISLAMIC INSTITUTE INC. Poblacion BULUAN MAGUINDANAO out of 172
Binnor Pangandaman Integrated School Kilikili East WAO LANAO DEL SUR out of 172
Adiong Memorial College Foundation, Inc. Western Wao (Pob.) Wao LANAO DEL SUR out of 172
CFC-School of the Morning Star Elem. School Western Wao (Pob.) Wao LANAO DEL SUR out of 172
La Purisima Elementary/High School Western Wao (Pob.) Wao LANAO DEL SUR out of 172
Madrasah Norol Jaded Al-Islamia Borocot MAGUING LANAO DEL SUR out of 172
Wao Grace Christian School Western Wao (Pob.) Wao LANAO DEL SUR out of 172
Wonderland Adventist Elem School Western Wao (Pob.) Wao LANAO DEL SUR out of 172
Maguindanao Institute of Technology and Learning Center, Inc. Poblacion Buluan MAGUINDANAO out of 172
Buluan Technical Educational School of Life, Inc. Poblacion BULUAN MAGUINDANAO out of 172
Lake View Intelligence Development Academy Poblacion (Lumbatan) Lumbatan LANAO DEL SUR out of 172
Ma'ahad As-Saqafah Al-Islamia Inc, Dibarosan MADALUM LANAO DEL SUR out of 172
Mahad Addinie Al-Islamie Integrated School Inc. Picalilangan BINIDAYAN LANAO DEL SUR out of 172
Maahad Al-Aziziah Al-Arabie Al-islamie, Inc. Sandab Madaya BUTIG LANAO DEL SUR out of 172
Eastern Kutawato Islamic Instutite Poblacion BULUAN MAGUINDANAO out of 172
Datu Abdulkadil O. Matalam Sr. Elementary School Kilangan Pagalungan MAGUINDANAO out of 172
Maguindanao Institute of Technology and Learning Center, Inc. Poblacion BULUAN MAGUINDANAO out of 172
EASTERN KUTAWATO ISLAMIC INSTITUTE INC. Poblacion Buluan MAGUINDANAO out of 172
Datu Blo Umpar Adiong Agricultural (BUAD AGRI) School Foundation, Inc. Cadayonan II CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Maguindanao Childhood Development Center Maslabeng Buluan MAGUINDANAO out of 172
Mao Elementary School Mao Datu Paglas MAGUINDANAO out of 172
North Binangga Elementary School Binangga North Talayan MAGUINDANAO out of 172
Datu Ibrahim Pendatun Paglas III Foundation Inc. Poblacion Datu Paglas MAGUINDANAO out of 172
Sugadol Primary School Penditen Datu Salibo MAGUINDANAO out of 172
HADJI DATU SAYDONA PENDATUN FOUNDATION COLLEGE INC. Badak Gen. S. K. Pendatun MAGUINDANAO out of 172
GANI L. ABPI COLLEGE, INC. Buayan Datu Piang MAGUINDANAO out of 172
Notre Dame of Dulawan, Inc. Poblacion (Dulawan) Datu Piang MAGUINDANAO out of 172
HADJI DATU SAYDONA PENDATUN FOUNDATION COLLEGE INC. Badak GEN. S.K. PENDATUN MAGUINDANAO out of 172
Hadji Ali Baganian Memorial School Inc. Tambunan II GUINDULUNGAN MAGUINDANAO out of 172
J-Rapha Learning Center Kauran AMPATUAN MAGUINDANAO out of 172
Kayaga Integrated Academy, Inc. Kayaga PANDAG MAGUINDANAO out of 172
MAAHAD SAADAH AL-ARABIE INTEGRATED SCHOOL INC. Pagatin SHARIFF SAYDONA MUSTAPHA MAGUINDANAO out of 172
MADRASATUL IRSHADIL ISLAMIA AL-IBTIDAIYYAH INC. Salbu DATU SAUDI-AMPATUAN MAGUINDANAO out of 172
MARKAZ AL-HUZAIM NC. Poblacion (Dulawan) DATU PIANG MAGUINDANAO out of 172
MOHAMMAD BIN AL DAHIRIE ISLAMIC ACADEMY INC. Bagan GUINDULUNGAN MAGUINDANAO out of 172
Barongisan Primary School Nalkan Datu Blah T. Sinsuat MAGUINDANAO out of 172
Bajau Village Learning Center, Inc. Pag-asa BONGAO (Capital) TAWI-TAWI out of 172
Mindanao State University - Ungus Matata Extension Ungus-ungus BONGAO (Capital) TAWI-TAWI out of 172
Balugo Elementary School Dungguan PAGAGAWAN MAGUINDANAO out of 172
Macatabang Memorial Elementary School Pagagawan PAGAGAWAN MAGUINDANAO out of 172
Divine Mercy Pre-School Awang DATU ODIN SINSUAT (DINAIG) MAGUINDANAO out of 172
Panglima Baluan Primary School Mananti Luuk SULU out of 172
Nananah Islamic Institute, Inc. Simbahan (Pob.) PANGUTARAN SULU out of 172
Siasi Madrasah Al-Qur-an Wal Hadith Poblacion (Campo Baro) SIASI SULU out of 172
Abdel Mustafa Kong Ahaja Elementary School Sitangkai Poblacion Sitangkai TAWI-TAWI out of 172
Sulu International School SAN RAYMUNDO Jolo SULU out of 172
SHARIFF AGUAK IBN AMPATUAN ISLAMIC MEMORIAL ACADEMY Poblacion II SHARIFF AGUAK   MAGUINDANAO out of 172
Mindanao State University - Mapun Extension Mahalo Mapun TAWI-TAWI out of 172
MSU-TCTO Mapun High School Mahalo Mapun TAWI-TAWI out of 172
SHARIFF AGUAK IBN AMPATUAN ISLAMIC MEMORIAL ACADEMY Poblacion II SHARIFF AGUAK (MAGANOY) (Capital) MAGUINDANAO out of 172
ERROR: SHARIFF AGUAK IBN AMPATUAN ISLAMIC MEMORIAL ACADEMY Poblacion II SHARIFF AGUAK (MAGANOY) (Capital) MAGUINDANAO
Aba-Al-Khail Computer School Moncado Colony Marawi City LANAO DEL SUR out of 172
Al-Farabi International Academy(AFIA), Inc Panggao Saduc Marawi City LANAO DEL SUR out of 172
Asnora Islamic Learning Center, Inc. Norhaya Village Marawi City LANAO DEL SUR out of 172
Cali Paramedical College Foundation, Inc. Banga Marawi City LANAO DEL SUR out of 172
Datu Blo Umpar Adiong Agricultural (BUAD AGRI) School Foundation, Inc. Cadayonan Marawi City LANAO DEL SUR out of 172
Datu Mala Muslim Mindanao Islamic College Foundation, Inc. Banggolo Poblacion Marawi City LANAO DEL SUR out of 172
Dhayfullah Islamic Institute, Inc. Pugaan Marawi City LANAO DEL SUR out of 172
Fountain Islamic Harvest Academy Daguduban Marawi City LANAO DEL SUR out of 172
Hadiyyah International School Cadayonan Marawi City LANAO DEL SUR out of 172
Ibn Siena Integrated School Foundation Beyaba-Damag Marawi City LANAO DEL SUR out of 172
Khadija Pilot Madrasah Lilod Saduc Marawi City LANAO DEL SUR out of 172
Lanao Islamic Paramedical College Foundation, Inc. Matampay Marawi City LANAO DEL SUR out of 172
MARAWI SMART KIDS LEARNING CENTER, INC Banggolo Poblacion Marawi City LANAO DEL SUR out of 172
Masiricampo Abantas Memorial Educational Center, Inc. Marawi Poblacion Marawi City LANAO DEL SUR out of 172
MSU-ILS Employee Multi-Purpose Cooperative- Child Learning Lomidong Marawi City LANAO DEL SUR out of 172
Philippine Engineering and Agro-Industrial College, Inc. Lilod Madaya (Pob.) Marawi City LANAO DEL SUR out of 172
Ranao Institute for Science and Technology - Preparatory School Basak Malutlut Marawi City LANAO DEL SUR out of 172
RC-AKIC Science Laboratory School Basak Malutlut Marawi City LANAO DEL SUR out of 172
Ungus-Ungus Primary School Sipangkot Sitangkai TAWI-TAWI out of 172
Senator Ninoy Aquino College Foundation Moncado Colony Marawi City LANAO DEL SUR out of 172
Al-Farabi International Academy-MSU, Inc Dimaluna Marawi City LANAO DEL SUR out of 172
Amanoddin-Mascara Integrated Learning Center Daguduban Marawi City LANAO DEL SUR out of 172
Dansalan College Foundation Marinaut East Marawi City LANAO DEL SUR out of 172
Integrated School for the Sciences of Peace (ISSP) Jaltek Foundation Basak Malutlut Marawi City LANAO DEL SUR out of 172
Jamiatul Philippine Al-Islamia Raya Madaya I Marawi City LANAO DEL SUR out of 172
Philippine Integrated School Foundation, Inc. Bangon Marawi City LANAO DEL SUR out of 172
Ranao Child Development Center Foundation, Inc. Saduc Proper Marawi City LANAO DEL SUR out of 172
MSU-University Training Center Buadi Sacayo (Green) MARAWI CITY LANAO DEL SUR out of 172
Mindanao State University - Sibutu Extension Tongehat Sibutu TAWI-TAWI out of 172
MSU-TCTO Bakong High School Bakong Simunul TAWI-TAWI out of 172
MSU-TCTO Banaran High School Lookan Banaran Sapa-Sapa TAWI-TAWI out of 172
MSU-TCTO Buan High School Buan Panglima Sugala (Balimbing) TAWI-TAWI out of 172
MSU-TCTO Languyan High School Languyan Proper (Pob.) Languyan TAWI-TAWI out of 172
MSU-TCTO Larap High School South Larap (Larap) Sitangkai TAWI-TAWI out of 172
MSU-TCTO Mantabuan High School Tapian Bohe North Sapa-Sapa TAWI-TAWI out of 172
MSU-TCTO Manuk Mangkaw High School Manuk Mangkaw Simunul TAWI-TAWI out of 172
MSU-TCTO Sapa-Sapa High School Sapa-sapa (Pob.) Sapa-Sapa TAWI-TAWI out of 172
MSU-TCTO Sibutu High School Sibutu (Pob.) Sibutu TAWI-TAWI out of 172
MSU-TCTO Sitangkai High School Imam Sapie Sitangkai TAWI-TAWI out of 172
MSU-TCTO South Ubian Tubig Dayang South Ubian TAWI-TAWI out of 172
MSU-TCTO Tabawan High School Likud Tabawan South Ubian TAWI-TAWI out of 172
MSU-TCTO Tampakan High School Tampakan (Pob.) Simunul TAWI-TAWI out of 172
MSU-TCTO Tandubanak High School Tandu Banak Sibutu TAWI-TAWI out of 172
MSU-TCTO Tubig Indangan High School Tubig Indangan Simunul TAWI-TAWI out of 172
MSU-TCTO Ungus Matata High School Tangngah (Lalung Sikubong) Sapa-Sapa TAWI-TAWI out of 172
Lapak Agricultural College East Kungtad Siasi SULU out of 172
Siasi Municipal High School Ratag Siasi SULU out of 172
Datu Bunta Primary School Tina Shariff Aguak MAGUINDANAO out of 172
Noor UL Haq Learning Center, Inc. Labu-labu Shariff Aguak MAGUINDANAO out of 172
Adiong Memorial College Foundation, Inc. Western Wao (Pob.) WAO LANAO DEL SUR out of 172
Del Sur Goodsheperd College, Inc. Extension Poblacion WAO LANAO DEL SUR out of 172
La Purisima Elementary/High School Western Wao (Pob.) WAO LANAO DEL SUR out of 172
Lake View Intelligence Development Academy Poblacion (Lumbatan) LUMBATAN LANAO DEL SUR out of 172
Mahad Butig Al-Islamie Sandab Madaya BUTIG LANAO DEL SUR out of 172
Datu Ibrahim Paglas Memorial College Alip (Pob.) DATU PAGLAS MAGUINDANAO out of 172
GANI L. ABPI COLLEGE, INC. Buayan DATU PIANG MAGUINDANAO out of 172
Lamalan Balis Flash Image Learning Center, Inc. Damabalas DATU PIANG MAGUINDANAO out of 172
ERROR: Lamalan Balis Flash Image Learning Center, Inc. Damabalas DATU PIANG MAGUINDANAO
MSU-TCTO Sapa High School Sapa Tandubas TAWI-TAWI out of 172
Notre Dame of Dulawan, Inc. Poblacion (Dulawan) DATU PIANG MAGUINDANAO out of 172
Southern Philippines Academy (SPA) College Magaslong DATU PIANG MAGUINDANAO out of 172
VMC Asian College Foundation, Inc.-Kauran Branch Kauran AMPATUAN MAGUINDANAO out of 172
Aba-Al-Khail Computer School Moncado Colony CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Al-Farabi International Academy (AFIA) Inc. Panggao Saduc CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Al-Hakema School, Inc. Lomidong CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Bubong Marzok Memorial College Foundation Saduc Proper CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Cali Paramedical College Foundation, Inc. Banga CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Dansalan College Foundation Marinaut East CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Datu Mala Muslim Mindanao Islamic College Foundation, Inc. Banggolo Poblacion CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Dhayfullah Islamic Institute, Inc. Pugaan CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Fountain Harvest Islamic Academy Daguduban CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Hadiyyah International School Cadayonan CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Ibn Siena Integrated School Foundation Beyaba-Damag CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Integrated School for the Sciences of Peace (ISSP) Jaltek Foundation Basak Malutlut CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Jamiatu Marawi AL-Islamia Foundation Moncado Kadingilan CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Jamiatu Muslim Mindanao, Inc. Matampay CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Jamiatul Philippine Al-Islamia Raya Madaya I CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Jamiatul Philippine Al-Islamia Raya Madaya I CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Lake Lanao Foundation , Inc Banggolo Poblacion CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Lanao Islamic Paramedical College Foundation, Inc. Matampay CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Mapandi Memorial College Saduc Proper CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Marawi Capitol College Foundation, Inc. Banggolo Poblacion CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Marawi Foundation Academy, Inc. Sabala Manao CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Marawi Islamic College Banggolo Poblacion CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Masiricampo Abantas Memorial Educational Center, Inc. Marawi Poblacion CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Miftahus Salam Integrated Academy Lomidong CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Mindanao Islamic Computer College Banggolo Poblacion CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
MSU-ILS Employee Multi-Purpose Cooperative- Child Learning Lomidong CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Pacasum College Lumbaca Madaya (Pob.) CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Philippine Engineering and Agro-Industrial College, Inc. Lilod Madaya (Pob.) CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Philippine Integrated School Foundation, Inc. Bangon CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Precious Child Learning Center Saduc Proper CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Ranao Institute for Science and Technology - Preparatory School Basak Malutlut CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
RC-AKIC Science Laboratory School Basak Malutlut CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Saphiyyahn Integrated School Foundation, Inc. Basak Malutlut CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Senator Ninoy Aquino College Foundation Moncado Colony CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
SMD Foundation Academy Norhaya Village CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Central Sulu College Poblacion (Campo Baro) SIASI SULU out of 172
Notre Dame of Siasi Kungtad West SIASI SULU out of 172
Notre Dame of Cagayan Lupa Pula (Pob.) MAPUN (CAGAYAN DE TAWI-TAWI) TAWI-TAWI out of 172
Notre Dame of Sibutu Sitangkai Poblacion SITANGKAI TAWI-TAWI out of 172
Notre Dame of Tabawan Likud Tabawan SOUTH UBIAN TAWI-TAWI out of 172
Panglima Haji Sulads Academy Doh-Tong SIMUNUL TAWI-TAWI out of 172
IBN khaldon Integrated School, Inc. Pagalamatan (Pob.) Binidayan LANAO DEL SUR out of 172
Mahad Addinie Al-Islamie Integrated School Inc. Picalilangan Binidayan LANAO DEL SUR out of 172
Ma'ahad As-Saqafah Al-Islamia Inc, Dibarosan Madalum LANAO DEL SUR out of 172
MAAHAD SAADAH AL-ARABIE INTEGRATED SCHOOL INC. Pagatin Shariff Saydona Mustapha MAGUINDANAO out of 172
MARKAZ AL-HUZAIM NC. Poblacion (Dulawan) Datu Piang MAGUINDANAO out of 172
MOHAMMAD BIN AL DAHIRIE ISLAMIC ACADEMY INC. Bagan Guindulungan MAGUINDANAO out of 172
MADRASATUL IRSHADIL ISLAMIA AL-IBTIDAIYYAH INC. Salbu Datu Saudi-Ampatuan MAGUINDANAO out of 172
Hadji Ali Baganian Memorial School Inc. Tambunan II Guindulungan MAGUINDANAO out of 172
D and M Little Garden Preparatory School Incorporated Tolali CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Al Bangsamoro Shari'ah and Professional Education College, Inc. (SHS Stand Alone) Marawi Poblacion CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Al-Farabi International Academy-MSU, Inc Dimaluna CITY OF MARAWI (Capital) LANAO DEL SUR out of 172
Mindanao State University-Tawi Tawi Sanga-sanga MAPUN (CAGAYAN DE TAWI-TAWI) TAWI-TAWI out of 172
Tawi-Tawi Regional Agricultural College-Main Nalil MAPUN (CAGAYAN DE TAWI-TAWI) TAWI-TAWI out of 172

                                       SchoolAddress       LAT        LONG
0  Kinukutan Elementary School Kinukutan Al-Barka...  6.535887  122.161304
1  Upper Mahayahay Primary School Mahayahay Upper...  6.535731  121.885162
2  Mama's Love Elementary School, Inc. Malakas CI...  6.661519  122.106467
3  Madrasatuz Zehra Matatag CITY OF LAMITAN (Capi...  6.658410  122.133443
4  Datu Caopacatan Primary School Palacat Piagapo...  8.000000  124.199997

In [21]:
schools_inco = schools_inco.drop(columns=['LAT',"LONG"]).merge(schools_add, on = "SchoolAddress", how = 'left')
schools_inco = schools_inco[schools_comp.columns.values]
schools_inco['address_type']  = 'geotagged'

schools_comp['address_type'] = 'given'

schools_2017 = pd.concat([schools_comp,schools_inco])
schools_2017 = gpd.GeoDataFrame(schools_2017,geometry=gpd.points_from_xy(schools_2017.LONG, schools_2017.LAT),crs="EPSG:4326")
schools_2017.head()

/opt/envs/airflow/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,SCH_ID,SCH_NAME,SCH_CAT,SCH_TYPE,LAT,LONG,BARANGAY,MUNNAME,PROV,PSGC_MUNI,PSGC_BRGY,PSGC_PROV,SchoolAddress,address_type,geometry
0,133049,Abong-Abong ES,ES,Public,6.507703,121.910937,Abong-Abong,Maluso,BASILAN,PH150704000,PH150704001,PH150700000,Abong-Abong Elementary School Abong-Abong Malu...,given,POINT (121.91094 6.50770)
1,215015,Akbar ES,ES,Public,6.664125,122.195725,Upper Bato-Bato,Akbar,BASILAN,PH150708000,PH150708008,PH150700000,Akbar Elementary School Upper Bato-Bato Akbar ...,given,POINT (122.19572 6.66413)
2,133154,Amaloy ES,ES,Public,6.443614,122.126717,Amaloy,Ungkaya Pukan,BASILAN,PH150711000,PH150711001,PH150700000,Amaloy Elementary School Amaloy Ungkaya Pukan ...,given,POINT (122.12672 6.44361)
3,133023,Atong-Atong ES,ES,Public,6.660000,121.899633,Atong-Atong,Lantawan,BASILAN,PH150703000,PH150703001,PH150700000,Atong-Atong Elementary School Atong-Atong Lant...,given,POINT (121.89963 6.66000)
4,133081,Babag ES,ES,Public,6.342007,121.954045,Babag (Babuan Island),Tabuan-Lasa,BASILAN,PH150713000,PH150713001,PH150700000,Babag Elementary School Babag (Babuan Island) ...,given,POINT (121.95404 6.34201)

In [22]:
del schools_inco, schools_comp, schools_add

In [28]:
# check if school lon lat are in barangay
 
schools_2017 = sjoin(schools_2017,admin_bounds[['geometry','PSGC_BRGY']].rename(columns = {'PSGC_BRGY':'PSGC_BRGY2'}),how='left',op='within')
schools_2017['BRGY_same'] = np.where(schools_2017['PSGC_BRGY'] == schools_2017['PSGC_BRGY2'],1,0)
schools_2017['BRGY_same'].value_counts()
schools_2017.to_csv('Processed/BARMM_Schools.csv')

students/ schools
schools per barangay

1    1500
0    1213
Name: BRGY_same, dtype: int64

## School Count per Brgy, Municipality, Province

In [23]:
no_of_School_Per_Prov = pd.read_excel("2-Tabular Data/5-Social/Number of School Per Prov.xlsx")
no_of_schools_per_muni = pd.read_excel("2-Tabular Data/5-Social/Number of schools per muni.xlsx")
no_of_schools_per_brgy = pd.read_excel("2-Tabular Data/5-Social/Number of schools per brgy(1).xlsx")

day_care = gpd.read_file("1-Geodata/5-SOCIAL/Social - Day Care Centers in ARMM (RPDO, 2018)/Social - Day Care Centers, 2018 - ARMM.shp")

In [24]:
day_care

,OBJECTID,Mun_Code,Population,Reg_Code,Reg_Name,Pro_Code,Pro_Name,Mun_Name,Shape_Leng,Shape_Area,BANGSAMO_2,geometry
0,1426.0,PH157006000,25935.0,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,SOUTH UBIAN,1.283342,0.002585,24.0,"MULTIPOLYGON (((217365.661 570002.412, 217369...."
1,1425.0,PH157005000,33334.0,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,SITANGKAI,1.080529,0.002271,11.0,"MULTIPOLYGON (((99255.409 511079.077, 99247.45..."
2,1431.0,PH157011000,30387.0,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,SIBUTU,1.130342,0.008570,10.0,"MULTIPOLYGON (((108068.594 508710.177, 108073...."
3,1430.0,PH157010000,30917.0,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,SAPA-SAPA,1.317656,0.004178,26.0,"MULTIPOLYGON (((181184.358 553460.435, 181187...."
4,1429.0,PH157009000,33494.0,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,LANGUYAN,2.581833,0.018836,30.0,"MULTIPOLYGON (((153448.739 575202.514, 153447...."
...,...,...,...,...,...,...,...,...,...,...,...,...
113,1423.0,PH157003000,26597.0,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,MAPUN (CAGAYAN DE TAWI-TAWI),1.076027,0.005756,20.0,"MULTIPOLYGON (((-8638.438 762810.258, -8639.05..."
114,1422.0,PH157002000,100527.0,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,BONGAO (Capital),1.660580,0.009958,27.0,"MULTIPOLYGON (((140524.148 557460.805, 140525...."
115,1421.0,PH157001000,44184.0,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,PANGLIMA SUGALA (BALIMBING),2.946091,0.019082,19.0,"MULTIPOLYGON (((159825.772 542644.313, 159827...."
116,1428.0,PH157008000,4727.0,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,TURTLE ISLANDS,0.184227,0.000283,4.0,"MULTIPOLYGON (((-18671.247 675040.726, -18669...."
117,1427.0,PH157007000,29390.0,PH150000000,AUTONOMOUS REGION IN MUSLIM MINDANAO (ARMM),PH157000000,TAWI-TAWI,TANDUBAS,3.508611,0.018001,21.0,"MULTIPOLYGON (((203229.634 568977.630, 203228...."

In [33]:
no_of_schools_per_muni

,PROV,PSGC_PROV,CITY/MUNI,PSGC_CITY/MUNI,Number of School
0,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,61
1,BASILAN,PH150700000,LANTAWAN,PH150703000,24
2,BASILAN,PH150700000,MALUSO,PH150704000,20
3,BASILAN,PH150700000,SUMISIP,PH150705000,37
4,BASILAN,PH150700000,TIPO-TIPO,PH150706000,15
...,...,...,...,...,...
113,TAWI-TAWI,PH157000000,TANDUBAS,PH157007000,18
114,TAWI-TAWI,PH157000000,TURTLE ISLANDS,PH157008000,4
115,TAWI-TAWI,PH157000000,LANGUYAN,PH157009000,31
116,TAWI-TAWI,PH157000000,SAPA-SAPA,PH157010000,29
117,TAWI-TAWI,PH157000000,SIBUTU,PH157011000,15

In [34]:
no_of_schools_per_brgy

,PROV,PSGC_PROV,CITY/MUNI,PSGC_CITY/MUNI,BRGY,PSGC_BRGY,Number of School
0,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Arco,PH150702001,1
1,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Ba-as,PH150702002,1
2,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Balagtasan,PH150702005,1
3,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Balas,PH150702006,1
4,BASILAN,PH150700000,CITY OF LAMITAN (Capital),PH150702000,Balobo,PH150702007,1
...,...,...,...,...,...,...,...
1565,TAWI-TAWI,PH157000000,SIBUTU,PH157011000,Talisay,PH157011011,2
1566,TAWI-TAWI,PH157000000,SIBUTU,PH157011000,Tandu Banak,PH157011012,3
1567,TAWI-TAWI,PH157000000,SIBUTU,PH157011000,Taungoh,PH157011013,1
1568,TAWI-TAWI,PH157000000,SIBUTU,PH157011000,Tongehat,PH157011014,2
1569,TAWI-TAWI,PH157000000,SIBUTU,PH157011000,Tongsibalo,PH157011015,1

# 4 Govt Programs

In [79]:
# Housing Programs
# Fields: barangay, which program was done there per year
ARMMBridgeandARMMHelps2018 = pd.read_excel("2-Tabular Data/8-Interventions/ARMMBridgeandARMMHelps2018.xlsx") # BRIDGE and HELPS - building houses program

# Construction
# Fields: construction type, year, community, how much spent
Interventionp2015ASFPARMMIBRD = pd.read_excel("2-Tabular Data/8-Interventions/InterventionASFPARMMIBRD2015.xlsx")
Interventionp2015ASFPARMMIBRD['Program'] = 'ASFPARMMIBRD'
Interventionp2015ASFPARMMIBRD['Year'] = 2015
Interventionp2015ASFPARMMIBRD = Interventionp2015ASFPARMMIBRD.rename(columns = {'PSGC':'PSGC_BRGY','NAME':'Project'})
Interventionp2015ASFPARMMIBRD = Interventionp2015ASFPARMMIBRD.merge(admin_bounds[['PSGC_BRGY','BRGY_NAME','PSGC_MUNI','MUNI_NAME','PSGC_PROV','PROV_NAME']], on = 'PSGC_BRGY',how='left')

Intervention2019HDAPARMM = pd.read_excel("2-Tabular Data/8-Interventions/InterventionHDAPARMM2019.xlsx")

Intervention2019HDAPARMM["Municipality (corrected)"] = Intervention2019HDAPARMM["Municipality (corrected)"].str.upper() 
Intervention2019HDAPARMM["Barangay (corrected)"] = Intervention2019HDAPARMM["Barangay (corrected)"].str.upper() 
Intervention2019HDAPARMM = Intervention2019HDAPARMM.merge(admin_bounds[['PSGC_BRGY','BRGY_NAME','PSGC_MUNI','MUNI_NAME','PSGC_PROV','PROV_NAME']],left_on = ["Barangay (corrected)","Municipality (corrected)"], right_on =["BRGY_NAME","MUNI_NAME"],how='left')
Intervention2019HDAPARMM['Year'] = 2019

Intervention2016PAMANAARMMOPAPP = pd.read_excel("2-Tabular Data/8-Interventions/InterventionPAMANAARMMOPAPP2016.xlsx") #hirap
Intervention2014TISPARMM = pd.read_excel("2-Tabular Data/8-Interventions/InterventionTISPARMM2014.xlsx") #hirap din

(1171, 7)
(1171, 12)

In [144]:
Intervention2016PAMANAARMMOPAPP = pd.read_excel("2-Tabular Data/8-Interventions/InterventionPAMANAARMMOPAPP2016.xlsx")
Intervention2016PAMANAARMMOPAPP = Intervention2016PAMANAARMMOPAPP.loc[0:133,]

PAMANA_proj = Intervention2016PAMANAARMMOPAPP[['PROJECT TITLE ','PROVINCE','PROJECT REALIGNED TO:','PROJECT TYPE',
                                              'ORIGINAL GRANT','IMPLEMENTING PARTNER_gen','FISCAL YEAR',
                                              '4TH QUARTER FY 2016','1ST QUARTER FY 2017', '% PHYSICAL ACCOMPLISHMENT']] 
PAMANA_loc = Intervention2016PAMANAARMMOPAPP[['PROJECT TITLE ','REGION', 'PROVINCE', 'MUNICIPALITY','MUNICIPALITY REALIGNED TO: ',
                                              'BARANGAY','BARANGAY REALIGNED TO:', 'SITIO']]

PAMANA_proj['KEY'] =  PAMANA_proj['PROJECT TITLE '] + str(PAMANA_proj['FISCAL YEAR']) + str(PAMANA_proj['PROVINCE'])
len(set(PAMANA_proj['KEY']))
# PAMANA_proj

# trial1.tail(50)
# Intervention2016PAMANAARMMOPAPP['BARANGAY'] = Intervention2016PAMANAARMMOPAPP['BARANGAY'].str.upper()
# Intervention2016PAMANAARMMOPAPP['BARANGAY REALIGNED TO:'] = Intervention2016PAMANAARMMOPAPP['BARANGAY REALIGNED TO:'].str.upper()

# Intervention2016PAMANAARMMOPAPP['MUNICIPALITY'] = Intervention2016PAMANAARMMOPAPP['MUNICIPALITY'].str.upper()
# Intervention2016PAMANAARMMOPAPP['MUNICIPALITY REALIGNED TO: '] = Intervention2016PAMANAARMMOPAPP['MUNICIPALITY REALIGNED TO: '].str.upper()

# Intervention2016PAMANAARMMOPAPP = Intervention2016PAMANAARMMOPAPP.merge(admin_bounds[['PSGC_PROV','PROV_NAME','PSGC_MUNI','MUNI_NAME','PSGC_BRGY','BRGY_NAME']],\
#                                         left_on=['BARANGAY','MUNICIPALITY'] , right_on = ['BRGY_NAME','MUNI_NAME' ], how = 'left')
# Intervention2016PAMANAARMMOPAPP = Intervention2016PAMANAARMMOPAPP.merge(admin_bounds[['PSGC_PROV','PROV_NAME','PSGC_MUNI','MUNI_NAME','PSGC_BRGY','BRGY_NAME']].rename(columns = {'PSGC_PROV':'R_PSGC_PROV','PROV_NAME':'R_PROV_NAME','PSGC_MUNI':'R_PSGC_MUNI','PSGC_BRGY':'R_PSGC_BRGY'}),\
#                                         left_on=['BARANGAY REALIGNED TO:','MUNICIPALITY REALIGNED TO: '] , right_on = ['BRGY_NAME','MUNI_NAME'], how = 'left')

/opt/envs/airflow/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

118

In [107]:
# #Last na ito
# Intervention2014TISPARMM = pd.read_excel("2-Tabular Data/8-Interventions/InterventionTISPARMM2014.xlsx")
# Intervention2014TISPARMM

Index(['PSGC_REGION', 'REGION_NAME', 'PSGC_PROV', 'PROV_NAME', 'PSGC_MUNI',
       'MUNI_NAME', 'PSGC_BRGY', 'BRGY_NAME', 'geometry'],
      dtype='object')

## 1 No Poverty

In [26]:
# Jobs 
# work_2015 = pd.read_excel("2-Tabular Data/5-Social/GainfulWorkers15YearsOldandOverbyMajorOccupationGroupAgeGroupSex(ARMM 2015)/Gainful Workers 15 Years Old and Over by Major Occupation Group, Age Group, Sex (ARMM 2015) Barangay.xlsx")
work_2015

,Brgy,PSGC,tot_15_ovr_both_sexes,tot_15 - 19_both_sexes,tot_20 - 24_both_sexes,tot_25 - 29_both_sexes,tot_30 - 34_both_sexes,tot_35 - 39_both_sexes,tot_40 - 44_both_sexes,tot_45 - 49_both_sexes,tot_50 - 54_both_sexes,tot_55 - 59_both_sexes,tot_60 - 64,tot_65 and over_both_sexes,man_15_ovr_both_sexes,man_15 - 19_both_sexes,man_20 - 24_both_sexes,man_25 - 29_both_sexes,man_30 - 34_both_sexes,man_35 - 39_both_sexes,man_40 - 44_both_sexes,man_45 - 49_both_sexes,man_50 - 54_both_sexes,man_55 - 59_both_sexes,man_60 - 64,man_65 and over_both_sexes,pro_15_ovr_both_sexes,pro_15 - 19_both_sexes,pro_20 - 24_both_sexes,pro_25 - 29_both_sexes,pro_30 - 34_both_sexes,pro_35 - 39_both_sexes,pro_40 - 44_both_sexes,pro_45 - 49_both_sexes,pro_50 - 54_both_sexes,pro_55 - 59_both_sexes,pro_60 - 64,pro_65 and over_both_sexes,tec_15_ovr_both_sexes,tec_15 - 19_both_sexes,tec_20 - 24_both_sexes,tec_25 - 29_both_sexes,tec_30 - 34_both_sexes,tec_35 - 39_both_sexes,tec_40 - 44_both_sexes,tec_45 - 49_both_sexes,tec_50 - 54_both_sexes,tec_55 - 59_both_sexes,tec_60 - 64,tec_65 and over_both_sexes,cle_15_ovr_both_sexes,cle_15 - 19_both_sexes,cle_20 - 24_both_sexes,cle_25 - 29_both_sexes,cle_30 - 34_both_sexes,cle_35 - 39_both_sexes,cle_40 - 44_both_sexes,cle_45 - 49_both_sexes,cle_50 - 54_both_sexes,cle_55 - 59_both_sexes,cle_60 - 64,cle_65 and over_both_sexes,ser_15_ovr_both_sexes,ser_15 - 19_both_sexes,ser_20 - 24_both_sexes,ser_25 - 29_both_sexes,ser_30 - 34_both_sexes,ser_35 - 39_both_sexes,ser_40 - 44_both_sexes,ser_45 - 49_both_sexes,ser_50 - 54_both_sexes,ser_55 - 59_both_sexes,ser_60 - 64,ser_65 and over_both_sexes,ski_15_ovr_both_sexes,ski_15 - 19_both_sexes,ski_20 - 24_both_sexes,ski_25 - 29_both_sexes,ski_30 - 34_both_sexes,ski_35 - 39_both_sexes,ski_40 - 44_both_sexes,ski_45 - 49_both_sexes,ski_50 - 54_both_sexes,ski_55 - 59_both_sexes,ski_60 - 64,ski_65 and over_both_sexes,cra_15_ovr_both_sexes,cra_15 - 19_both_sexes,cra_20 - 24_both_sexes,cra_25 - 29_both_sexes,cra_30 - 34_both_sexes,cra_35 - 39_both_sexes,cra_40 - 44_both_sexes,cra_45 - 49_both_sexes,cra_50 - 54_both_sexes,cra_55 - 59_both_sexes,cra_60 - 64,cra_65 and over_both_sexes,pla_15_ovr_both_sexes,pla_15 - 19_both_sexes,pla_20 - 24_both_sexes,pla_25 - 29_both_sexes,pla_30 - 34_both_sexes,pla_35 - 39_both_sexes,pla_40 - 44_both_sexes,pla_45 - 49_both_sexes,pla_50 - 54_both_sexes,pla_55 - 59_both_sexes,pla_60 - 64,pla_65 and over_both_sexes,ele_15_ovr_both_sexes,ele_15 - 19_both_sexes,ele_20 - 24_both_sexes,ele_25 - 29_both_sexes,ele_30 - 34_both_sexes,ele_35 - 39_both_sexes,ele_40 - 44_both_sexes,ele_45 - 49_both_sexes,ele_50 - 54_both_sexes,ele_55 - 59_both_sexes,ele_60 - 64,ele_65 and over_both_sexes,arm_15_ovr_both_sexes,arm_15 - 19_both_sexes,arm_20 - 24_both_sexes,arm_25 - 29_both_sexes,arm_30 - 34_both_sexes,arm_35 - 39_both_sexes,arm_40 - 44_both_sexes,arm_45 - 49_both_sexes,arm_50 - 54_both_sexes,arm_55 - 59_both_sexes,arm_60 - 64,arm_65 and over_both_sexes,oth_15_ovr_both_sexes,oth_15 - 19_both_sexes,oth_20 - 24_both_sexes,oth_25 - 29_both_sexes,oth_30 - 34_both_sexes,oth_35 - 39_both_sexes,oth_40 - 44_both_sexes,oth_45 - 49_both_sexes,oth_50 - 54_both_sexes,oth_55 - 59_both_sexes,oth_60 - 64,oth_65 and over_both_sexes,oth_15_ovr_both_sexes.1,not_15 - 19_both_sexes,not_20 - 24_both_sexes,not_25 - 29_both_sexes,not_30 - 34_both_sexes,not_35 - 39_both_sexes,not_40 - 44_both_sexes,not_45 - 49_both_sexes,not_50 - 54_both_sexes,not_55 - 59_both_sexes,not_60 - 64,not_65 and over_both_sexes,tot_15_ovr_mal,tot_15 - 19_mal,tot_20 - 24_mal,tot_25 - 29_mal,tot_30 - 34_mal,tot_35 - 39_mal,tot_40 - 44_mal,tot_45 - 49_mal,tot_50 - 54_mal,tot_55 - 59_mal,tot_60 - 64.1,tot_65 and over_mal,man_15_ovr_mal,man_15 - 19_mal,man_20 - 24_mal,man_25 - 29_mal,man_30 - 34_mal,man_35 - 39_mal,man_40 - 44_mal,man_45 - 49_mal,man_50 - 54_mal,man_55 - 59_mal,man_60 - 64.1,man_65 and over_mal,pro_15_ovr_mal,pro_15 - 19_mal,pro_20 - 24_mal,pro_25 - 29_mal,pro_30 - 34_mal,pro_35 - 39_mal,pro_40 - 44_mal,pro_45 - 49_mal,pro_50 - 54_mal,pro_55 - 59_mal,pro_60 - 64.1,pro_65 and over_mal,tec_15_ovr_mal,tec_15 - 19_mal,tec_20 - 24_mal,tec_25 - 29_mal,tec_30 - 34_mal,tec_35 - 39_mal,tec_40 - 44_mal,tec_45 - 49_mal,tec_50 - 54_mal,tec_55 - 59_mal,tec_60 - 64.1,tec_65 and over_mal,cle_15_ovr_mal,cle_15 - 19_mal,cle_20 - 24_mal,cle_25 - 29_mal,cle_30 - 34_mal,cle_35 - 39_mal,cle_40 - 44_mal,cle_45 - 49_mal,cle_50 - 54_mal,cle_55 - 59_mal,cle_60 - 64.1,cle_65 and over_mal,ser_15_ovr_mal,ser_15 - 19_mal,ser_20 - 24_mal,ser_25 - 29_mal,ser_30 - 34_mal,ser_35 - 39_mal,ser_40 - 44_mal,ser_45 - 49_mal,ser_50 - 54_mal,ser_55 - 59_mal,ser_60 - 64.1,ser_65 and over_mal,ski_15_ovr_mal,ski_15 - 19_mal,ski_20 - 24_mal,ski_25 - 29_mal,ski_30 - 34_mal,ski_35 - 39_mal,ski_40 - 44_mal,ski_45 - 49_mal,ski_50 - 54_mal,ski_55 - 59_mal,ski_60 - 64.1,ski_65 and over_mal,cra_15_ovr_mal,cra_15 - 19_mal,cra_20 - 24_mal,cra_25 - 29_mal,cra_30 - 34_mal,cra_35 - 39_mal,cra_40 - 44_mal,cra_45 - 49_mal,cra_50 - 54_mal,cra_55 - 59_mal,cra_60 - 64.1,cra_65 and over_mal,pla_15_ovr_mal,pla_15 - 19_mal,pla_20 - 24_mal,pla_25 - 29_mal,pla_30 - 34_mal,pla_35 - 39_mal,pla_40 - 44_mal,pla_45 - 49_mal,pla_50 - 54_mal,pla_55 - 59_mal,pla_60 - 64.1,pla_65 and over_mal,ele_15_ovr_mal,ele_15 - 19_mal,ele_20 - 24_mal,ele_25 - 29_mal,ele_30 - 34_mal,ele_35 - 39_mal,ele_40 - 44_mal,ele_45 - 49_mal,ele_50 - 54_mal,ele_55 - 59_mal,ele_60 - 64.1,ele_65 and over_mal,arm_15_ovr_mal,arm_15 - 19_mal,arm_20 - 24_mal,arm_25 - 29_mal,arm_30 - 34_mal,arm_35 - 39_mal,arm_40 - 44_mal,arm_45 - 49_mal,arm_50 - 54_mal,arm_55 - 59_mal,arm_60 - 64.1,arm_65 and over_mal,oth_15_ovr_mal,oth_15 - 19_mal,oth_20 - 24_mal,oth_25 - 29_mal,oth_30 - 34_mal,oth_35 - 39_mal,oth_40 - 44_mal,oth_45 - 49_mal,oth_50 - 54_mal,oth_55 - 59_mal,oth_60 - 64.1,oth_65 and over_mal,oth_15_ovr_mal.1,not_15 - 19_mal,not_20 - 24_mal,not_25 - 29_mal,not_30 - 34_mal,not_35 - 39_mal,not_40 - 44_mal,not_45 - 49_mal,not_50 - 54_mal,not_55 - 59_mal,not_60 - 64.1,not_65 and over_mal,tot_15_ovr_fem,tot_15 - 19_fem,tot_20 - 24_fem,tot_25 - 29_fem,tot_30 - 34_fem,tot_35 - 39_fem,tot_40 - 44_fem,tot_45 - 49_fem,tot_50 - 54_fem,tot_55 - 59_fem,tot_60 - 64.2,tot_65 and over_fem,man_15_ovr_fem,man_15 - 19_fem,man_20 - 24_fem,man_25 - 29_fem,man_30 - 34_fem,man_35 - 39_fem,man_40 - 44_fem,man_45 - 49_fem,man_50 - 54_fem,man_55 - 59_fem,man_60 - 64.2,man_65 and over_fem,pro_15_ovr_fem,pro_15 - 19_fem,pro_20 - 24_fem,pro_25 - 29_fem,pro_30 - 34_fem,pro_35 - 39_fem,pro_40 - 44_fem,pro_45 - 49_fem,pro_50 - 54_fem,pro_55 - 59_fem,pro_60 - 64.2,pro_65 and over_fem,tec_15_ovr_fem,tec_15 - 19_fem,tec_20 - 24_fem,tec_25 - 29_fem,tec_30 - 34_fem,tec_35 - 39_fem,tec_40 - 44_fem,tec_45 - 49_fem,tec_50 - 54_fem,tec_55 - 59_fem,tec_60 - 64.2,tec_65 and over_fem,cle_15_ovr_fem,cle_15 - 19_fem,cle_20 - 24_fem,cle_25 - 29_fem,cle_30 - 34_fem,cle_35 - 39_fem,cle_40 - 44_fem,cle_45 - 49_fem,cle_50 - 54_fem,cle_55 - 59_fem,cle_60 - 64.2,cle_65 and over_fem,ser_15_ovr_fem,ser_15 - 19_fem,ser_20 - 24_fem,ser_25 - 29_fem,ser_30 - 34_fem,ser_35 - 39_fem,ser_40 - 44_fem,ser_45 - 49_fem,ser_50 - 54_fem,ser_55 - 59_fem,ser_60 - 64.2,ser_65 and over_fem,ski_15_ovr_fem,ski_15 - 19_fem,ski_20 - 24_fem,ski_25 - 29_fem,ski_30 - 34_fem,ski_35 - 39_fem,ski_40 - 44_fem,ski_45 - 49_fem,ski_50 - 54_fem,ski_55 - 59_fem,ski_60 - 64.2,ski_65 and over_fem,cra_15_ovr_fem,cra_15 - 19_fem,cra_20 - 24_fem,cra_25 - 29_fem,cra_30 - 34_fem,cra_35 - 39_fem,cra_40 - 44_fem,cra_45 - 49_fem,cra_50 - 54_fem,cra_55 - 59_fem,cra_60 - 64.2,cra_65 and over_fem,pla_15_ovr_fem,pla_15 - 19_fem,pla_20 - 24_fem,pla_25 - 29_fem,pla_30 - 34_fem,pla_35 - 39_fem,pla_40 - 44_fem,pla_45 - 49_fem,pla_50 - 54_fem,pla_55 - 59_fem,pla_60 - 64.2,pla_65 and over_fem,ele_15_ovr_fem,ele_15 - 19_fem,ele_20 - 24_fem,ele_25 - 29_fem,ele_30 - 34_fem,ele_35 - 39_fem,ele_40 - 44_fem,ele_45 - 49_fem,ele_50 - 54_fem,ele_55 - 59_fem,ele_60 - 64.2,ele_65 and over_fem,arm_15_ovr_fem,arm_15 - 19_fem,arm_20 - 24_fem,arm_25 - 29_fem,arm_30 - 34_fem,arm_35 - 39_fem,arm_40 - 44_fem,arm_45 - 49_fem,arm_50 - 54_fem,arm_55 - 59_fem,arm_60 - 64.2,arm_65 and over_fem,oth_15_ovr_fem,oth_15 - 19_fem,oth_20 - 24_fem,oth_25 - 29_fem,oth_30 - 34_fem,oth_35 - 39_fem,oth_40 - 44_fem,oth_45 - 49_fem,oth_50 - 54_fem,oth_55 - 59_fem,oth_60 - 64.2,oth_65 and over_fem,oth_15_ovr_fem.1,not_15 - 19_fem,not_20 - 24_fem,not_25 - 29_fem,not_30 - 34_fem,not_35 - 39_fem,not_40 - 44_fem,not_45 - 49_fem,not_50 - 54_fem,not_55 - 59_fem,not_60 - 64.2,not_65 and over_fem
0,Arco,PH150702001,211,10,37,33,25,23,20,20,12,15,9,7,4,0,0,0,0,1,0,1,1,0,1,0,9,0,0,3,2,3,0,1,0,0,0,0,3,0,0,0,0,0,0,0,1,0,0,2,18,2,4,2,5,2,0,1,1,1,0,0,44,4,17,6,5,4,4,0,2,1,1,0,107,4,12,14,11,12,12,17,5,10,5,5,7,0,1,2,0,1,1,0,1,1,0,0,3,0,0,1,1,0,1,0,0,0,0,0,11,0,3,4,0,0,1,0,1,0,2,0,5,0,0,1,1,0,1,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,158,7,29,24,18,17,16,16,8,12,7,4,2,0,0,0,0,1,0,0,0,0,1,0,2,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,14,2,3,1,4,2,0,1,0,1,0,0,22,1,11,3,1,3,1,0,1,1,0,0,95,4,12,13,10,9,11,15,4,8,5,4,5,0,0,2,0,1,1,0,1,0,0,0,3,0,0,1,1,0,1,0,0,0,0,0,9,0,3,3,0,0,1,0,1,0,1,0,5,0,0,1,1,0,1,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,53,3,8,9,7,6,4,4,4,3,2,3,2,0,0,0,0,0,0,1,1,0,0,0,7,0,0,3,1,2,0,1,0,0,0,0,2,0,0,0,0,0,0,0,0,0,0,2,4,0,1,1,1,0,0,0,1,0,0,0,22,3,6,3,4,1,3,0,1,0,1,0,12,0,0,1,1,3,1,2,1,2,0,1,2,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Ba-as,PH150702002,336,22,48,55,48,36,39,24,24,15,14,11,25,0,0,1,2,5,2,2,5,2,3,3,16,0,2,4,2,3,4,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,4,0,0,1,0,0,0,1,0,0,2,0,16,0,1,6,5,2,0,0,1,0,0,1,178,13,29,25,24,13,17,16,12,13,9,7,18,0,2,4,2,4,5,0,1,0,0,0,40,3,8,9,7,5,7,0,1,0,0,0,38,6,6,5,6,3,4,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,256,16,45,42,39,22,30,20,14,11,11,6,2,0,0,0,0,0,0,1,1,0,0,0,7,0,1,0,1,2,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,1,0,0,0,1,0,0,2,0,12,0,1,3,5,2,0,0,0,0,0,1,167,12,29,25,24,9,17,15,11,11,9,5,17,0,2,4,2,4,4,0,1,0,0,0,36,3,8,9,5,4,6,0,1,0,0,0,11,1,4,0,2,1,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,80,6,3,13,9,14,9,4,10,4,3,5,23,0,0,1,2,5,2,1,4,2,3,3,9,0,1,4,1,1,2,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,0,0,3,0,0,0,0,1,0,0,0,11,1,0,0,0,4,0,1,1,2,0,2,1,0,0,0,0,0,1,0,0,0,0,0,4,0,0,0,2,1,1,0,0,0,0,0,27,5,2,5,4,2,3,2,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Baimbing,PH150702004,149,5,19,18,16,15,19,18,5,9,8,17,14,0,0,0,5,3,2,1,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,117,5,16,14,7,10,14,17,4,8,5,17,4,0,0,0,0,1,1,0,0,1,1,0,3,0,3,0,0,0,0,0,0,0,0,0,10,0,0,3,4,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,104,3,17,13,8,10,15,15,3,6,5,9,8,0,0,0,1,2,2,0,1,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,89,3,14,12,7,8,12,15,2,5,2,9,3,0,0,0,0,0,1,0,0,1,1,0,3,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,45,2,2,5,8,5,4,3,2,3,3,8,6,0,0,0,4,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,28,2,2,2,0,2,2,2,2,3,3,8,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,10,0,0,3,4,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Balagtasan,PH150702005,794,41,101,118,120,90,64,83,76,46,35,20,43,0,3,5,2,12,6,4,2,5,3,1,41,0,5,11,9,5,2,3,5,1,0,0,17,0,2,0,5,3,0,3,3,1,0,0,32,1,8,3,6,5,2,4,2,0,1,0,56,0,8,9,5,7,12,8,4,1,2,0,388,20,47,48,53,37,26,41,48,29,21,18,26,1,2,4,4,6,2,1,0,5,1,0,47,1,0,8,13,3,6,5,6,1,4,0,131,14,26,30,22,10,8,13,3,3,1,1,9,0,0,0,1,2,0,1,3,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,4,4,0,0,0,0,0,0,0,0,0,0,552,32,76,82,85,69,40,50,49,28,28,13,18,0,0,3,1,6,3,2,0,1,2,0,14,0,1,3,4,2,0,0,3,1,0,0,6,0,1,0,1,1,0,1,1,1,0,0,15,1,2,2,0,3,1,3,2,0,1,0,31,0,7,2,3,6,8,2,2,0,1,0,324,20,46,47,49,34,18,31,31,18,18,12,25,1,2,4,4,6,2,1,0,4,1,0,45,1,0,8,13,3,6,5,6,1,2,0,63,7,17,13,9,6,2,4,1,2,1,1,9,0,0,0,1,2,0,1,3,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,0,0,0,0,0,0,0,0,0,0,242,9,25,36,35,21,24,33,27,18,7,7,25,0,3,2,1,6,3,2,2,4,1,1,27,0,4,8,5,3,2,3,2,0,0,0,11,0,1,0,4,2,0,2,2,0,0,0,17,0,6,1,6,2,1,1,0,0,0,0,25,0,1,7,2,1,4,6,2,1,1,0,64,0,1,1,4,3,8,10,17,11,3,6,1,0,0,0,0,0,0,0,0,1,0,0,2,0,0,0,0,0,0,0,0,0,2,0,68,7,9,17,13,4,6,9,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,2,0,0,0,0,0,0,0,0,0,0
4,Balas,PH150702006,1002,102,156,149,129,88,96,85,68,41,43,45,77,2,2,5,12,5,12,16,7,6,6,4,17,0,3,3,4,2,3,0,1,1,0,0,3,0,1,0,0,0,1,1,0,0,0,0,24,1,4,6,4,2,1,1,3,1,1,0,107,21,26,11,8,11,8,6,8,3,4,1,527,52,79,80,56,48,54,46,35,22,25,30,20,0,4,5,2,2,1,2,1,0,1,2,49,2,6,4,15,5,5,6,2,1,1,2,172,24,29,34,28,13,10,6,11,7,5,5,5,0,1,1,0,0,1,1,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,740,78,119,114,96,60,73,66,42,27,28,37,17,0,1,0,3,1,0,6,2,0,2,2,7,0,1,1,2,0,3,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,17,1,3,3,3,1,1,1,2,1,1,0,69,14,15,6,5,6,6,6,4,3,4,0,466,45,73,76,48,41,52,42,27,18,17,27,18,0,4,4,2,2,1,2,1,0,1,1,44,1,4,4,14,4,5,6,2,1,1,2,95,17,16,19,19,5,3,2,4,4,2,4,5,0,1,1,0,0,1,1,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,262,24,37,35,33,28,23,19,26,14,15,8,60,2,1,5,9,4,12,10,5,6,4,2,10,0,2,2,2,2,0,0,1,1,0,0,2,0,1,0,0,0,0,1,0,0,0,0,7,0,1,3,1,1,0,0,1,0,0,0,38,7,11,5,3,5,2,0,4,0,0,1,61,7,6,4,8,7,2,4,8,4,8,3,2,0,0,1,0,0,0,0,0,0,0,1,5,1,2,0,1,1,0,0,0,0,0,0,77,7,13,15,9,8,7,4,7,3,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2485,Tandu Banak,PH157011012,605,17,49,69,70,94,89,71,48,37,25,36,29,0,3,4,4,5,2,6,0,2,1,2,50,0,3,9,3,6,11,6,5,4,3,0,2,0,0,0,1,1,0,0,0,0,0,0,6,0,0,0,2,1,1,1,0,1,0,0,34,0,3,6,5,2,4,7,0,1,3,3,441,10,29,44,47,77,67,49,42,28,18,30,13,1,2,0,3,1,3,2,0,0,0,1,5,0,1,1,2,0,0,0,0,1,0,0,10,0,2,4,2,1,0,0,1,0,0,0,8,0,6,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,6,0,0,0,0,1,0,0,0,0,0,496,14,37,57,53,86,71,57,41,28,20,32,17,0,1,4,1,5,0,2,0,1,1,2,18,0,0,3,0,3,4,2,1,3,2,0,1,0,0,0,1,0,0,0,0,0,0,0,4,0,0,0,2,1,1,0,0,0,0,0,17,0,0,3,1,1,1,7,0,0,2,2,412,9,27,44,44,75,63,45,40,23,15,27,10,1,2,0,2,1,2,1,0,0,0,1,3,0,1,1,0,0,0,0,0,1,0,0,2,0,0,1,1,0,0,0,0,0,0,0,8,0,6,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,4,0,0,0,0,0,0,0,0,0,0,109,3,12,12,17,8,18,14,7,9,5,4,12,0,2,0,3,0,2,4,0,1,0,0,32,0,3,6,3,3,7,4,4,1,1,0,1,0,0,0,0,1,0,0,0,0,0,0,2,0,0,0,0,0,0,1,0,1,0,0,17,0,3,3,4,1,3,0,0,1,1,1,29,1,2,0,3,2,4,4,2,5,3,3,3,0,0,0,1,0,1,1,0,0,0,0,2,0,0,0,2,0,0,0,0,0,0,0,8,0,2,3,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,2,0,0,0,0,1,0,0,0,0,0
2486,Taungoh,PH157011013,909,40,129,132,127,130,117,72,42,59,29,32,42,0,3,4,18,6,3,1,1,2,1,3,36,0,2,3,5,14,1,4,2,3,2,0,5,0,0,0,1,2,1,1,0,0,0,0,12,0,1,1,1,4,0,2,0,1,1,1,53,1,5,8,12,5,7,4,5,2,2,2,713,36,113,107,78,94,101,55,34,49,21,25,20,1,2,1,7,1,2,4,0,1,0,1,8,0,0,0,3,1,2,1,0,1,0,0,7,2,0,2,2,0,0,0,0,0,1,0,12,0,3,6,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,755,32,114,116,103,97,99,58,36,48,25,27,21,0,0,2,8,3,2,0,0,2,1,3,14,0,1,2,1,2,1,2,2,1,2,0,1,0,0,0,1,0,0,0,0,0,0,0,7,0,0,0,1,2,0,2,0,1,1,0,16,0,0,5,4,0,0,2,1,1,1,2,656,30,108,100,78,86,92,48,33,41,18,22,16,1,2,1,6,0,2,3,0,1,0,0,8,0,0,0,3,1,2,1,0,1,0,0,5,1,0,2,1,0,0,0,0,0,1,0,10,0,3,4,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,154,8,15,16,24,33,18,14,6,11,4,5,21,0,3,2,10,3,1,1,1,0,0,0,22,0,1,1,4,12,0,2,0,2,0,0,4,0,0,0,0,2,1,1,0,0,0,0,5,0,1,1,0,2,0,0,0,0,0,1,37,1,5,3,8,5,7,2,4,1,1,0,57,6,5,7,0,8,9,7,1,8,3,3,4,0,0,0,1,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,2,1,0,0,1,0,0,0,0,0,0,0,2,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2487,Tongehat,PH157011014,449,30,61,60,62,56,50,37,42,21,15,15,3,0,0,0,2,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,437,30,59,59,60,55,47,37,40,21,15,14,5,0,0,0,0,1,2,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,413,30,51,54,60,55,47,35,35,20,14,12,2,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,405,30,51,54,58,54,44,35,33,20,14,12,5,0,0,0,0,1,2,0,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,36,0,10,6,2,1,3,2,7,1,1,3,1,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,32,0,8,5,2,1,3,2,7,1,1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2488,Tongsibalo,PH157011015,727,68,136,111,76,72,63,62,50,43,19,27,20,1,1,0,2,5,1,2,2,5,1,0,26,0,1,2,2,3,5,7,3,3,0,0,5,0,2,1,1,0,0,1,0,0,0,0,4,0,0,3,0,1,0,0,0,0,0,0,15,2,3,2,1,3,4,0,0,0,0,0,560,44,97,87,63,53,49,47,43,33,18,26,45,9,14,10,3,1,3,3,1,1,0,0,4,0,0,1,0,2,1,0,0,0,0,0,44,9,17,5,4,4,0,2,1,1,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,0,0,0,0,0,0,0,0,0,0,601,52,104,89,63,63,59,46,45,36,18,26,7,0,0,0,1,2,1,0,0,2,1,0,10,0,1,0,1,2,2,1,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,1,0,1,0,0,0,0,0,0,7,1,1,0,0,2,3,0,0,0,0,0,543,44,94,85,60,52,49,42,43,31,17,26,5,0,0,0,0,0,3,1,1,0,0,0,4,0,0,1,0,2,1,0,0,0,0,0,19,4,7,2,1,2,0,2,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,0,0,0,0,0,0,0,0,0,0,126,16,32,22,13,9,4,16,5,7,1,1,13,1,1,0,1,3,0,2,2,3,0,0,16,0,0,2,1,1,3,6,3,0,0,0,5,0,2,1,1,0,0,1,0,0,0,0,2,0,0,2,0,0,0,0,0,0,0,0,8,1,2,2,1,1,1,0,0,0,0,0,17,0,3,2,3,1,0,5,0,2,1,0,40,9,14,10,3,1,0,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,25,5,10,3,3,2,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [187]:
# location of banks kulang
barmm_banks = gpd.read_file("1-Geodata/6-ECONOMIC/Economic - Location of Banks in ARMM (Bangko Sentral ng Pilipinas, 2018)/Economic - Location of Banks, 2018 - ARMM - Bangko Sentral ng Pilipinas.shp")
barmm_banks["geometry"] = barmm_banks['geometry'].to_crs(epsg=4326)
barmm_banks = sjoin(barmm_banks,admin_bounds[['geometry','PSGC_BRGY']],how='left',op='within').drop(columns = ['index_right'])

barmm_banks

,field_1,field_2,On-site,Off-site,Total,Latitude,Longitude,geometry,PSGC_BRGY
0,Basilan,Lamitan City,2,1,3,6.660158,122.110007,POINT (122.11001 6.66016),PH150702050
1,Lanao del Sur,Marawi City (Capital),7,8,15,8.011379,124.297214,POINT (124.29721 8.01138),PH153617058
2,Lanao del Sur,Tagoloan II,0,1,1,8.099614,124.441542,POINT (124.44154 8.09961),PH153638018
3,Lanao del Sur,Wao,2,0,2,7.667901,124.708514,POINT (124.70851 7.66790),PH153630035
4,Maguindanao,Buluan,1,0,1,6.743706,124.802213,POINT (124.80221 6.74371),PH153833001
5,Maguindanao,Datu Odin Sinsuat(Dinaig),0,1,1,7.185001,124.183997,POINT (124.18400 7.18500),PH153807014
6,Maguindanao,Datu Paglas,1,0,1,6.751509,124.871116,POINT (124.87112 6.75151),PH153805026
7,Maguindanao,Parang,2,0,2,6.751509,124.871116,POINT (124.87112 6.75151),PH153805026
8,Maguindanao,Sultan Kudarat (Nuling),0,1,1,7.331879,124.232025,POINT (124.23202 7.33188),PH153811012
9,Sulu,Jolo (Capital),7,0,7,6.046891,121.009625,POINT (121.00962 6.04689),PH156602007
10,Tawi-Tawi,Bongao (Capital),6,0,6,5.032043,119.772499,POINT (119.77250 5.03204),PH157002027

In [189]:
dti_businesses = gpd.read_file("1-Geodata/6-ECONOMIC/Economic - DTI Registered Firms in ARMM (DTI, 2013)/Economic - DTI Registered Firms, 2013 - ARMM DTI.shp")
dti_businesses = dti_businesses[['Mun_Code','RHU Sheet1','Establishm','Population']]
dti_businesses['Establishm'] = pd.to_numeric(dti_businesses['Establishm'])
dti_businesses.columns = ['PSGC_MUNI','RHU_Count','Establishment_Count','Population']
dti_businesses.head()

     PSGC_MUNI  RHU_Count  Establishment_Count  Population
0  PH157006000        8.0                 46.0     25935.0
1  PH157005000        6.0                 88.0     33334.0
2  PH157011000        8.0                 65.0     30387.0
3  PH157010000        5.0                 18.0     30917.0
4  PH157009000        6.0                  NaN     33494.0

In [27]:
# # location of firms
barmm_firms = gpd.read_file("1-Geodata/6-ECONOMIC/Economic - Operational ARMM RBOI Registered Firms from 1992-2018 (ARMM-RBOI, 2018)/Economic - Operational ARMM RBOI Registered Firms (1992 - 2018) - ARMM-RBOI.shp")
barmm_firms["geometry"] = barmm_firms['geometry'].to_crs(epsg=4326)
barmm_firms = sjoin(barmm_firms,admin_bounds[['geometry','PSGC_BRGY']],how='left',op='within').drop(columns = ['index_right'])
barmm_firms

,Year of Re,name,Location,MUNI,Status,lat,long,geometry,PSGC_BRGY
0,2007,"Agumil Philippines, 2007","Buluan, Maguindanao",MAGUINDANAO,Operational,7.262495,124.309569,POINT (124.30957 7.26250),PH153812010
1,2015,"Al Sahar Agri Ventures, 2015","Brgy Tamar, Talayan, Maguindanao",MAGUINDANAO,Operational,5.094908,119.990326,POINT (119.99033 5.09491),PH157001001
2,1999,"Alip River Development Export, 1999","Datu Paglas, Maguindanao",MAGUINDANAO,Operational,6.740940,124.881761,POINT (124.88176 6.74094),PH153805004
3,2014,"Al-Mujahidun Agro Resources & Development, 2014","Brgy. Salaman, Ampatuan, Maguindanao",MAGUINDANAO,Operational,7.333498,124.223119,POINT (124.22312 7.33350),PH153811021
4,2014,"Bangsamoro Oil and Fuels, 2014","Polloc, Parang, Maguindanao",MAGUINDANAO,Operational,6.831161,124.460103,POINT (124.46010 6.83116),PH153801004
5,2017,"Bangsamoro Terminal Services, 2017","Polloc Freeport, Parang, Maguindanao",MAGUINDANAO,2018 commercial operational,7.286210,124.272730,POINT (124.27273 7.28621),PH153824006
6,2013,"Bumbaran Development, 2013","Brgy. Sarmento Parang, Maguindanao",MAGUINDANAO,Operational,6.743656,124.800955,POINT (124.80096 6.74366),PH153833001
7,2018,"ChocoInvest, 2018","Brgy. Nuyo, Buldon, Maguindanao",MAGUINDANAO,On land preparation,6.782701,124.475871,POINT (124.47587 6.78270),PH153801015
8,2014,"Darussalam Mining, 2014",Languyan Tawi-tawi,TAWI-TAWI,Operational,5.352892,120.226489,POINT (120.22649 5.35289),PH157009016
9,2012,"Delinanas Development, 2012","Datu Abdullah Sangki, Maguindanao",MAGUINDANAO,Operational,6.904419,124.498139,POINT (124.49814 6.90442),PH153820011
10,2018,"Eka Salam Agriventures, 2018","Brgy. Kauran, Ampatuan, Maguindanao",MAGUINDANAO,On land preparation and planting,7.427556,124.449654,POINT (124.44965 7.42756),PH153802009
11,2014,"Green Earth Enersource, 2014","Buluan, Maguindanao",MAGUINDANAO,Operational,7.291336,124.310281,POINT (124.31028 7.29134),PH153824003
12,1994,"ITIL Plantation, 1994","Balabagan, Lanao del Sur",LANAO DEL SUR,Operational,7.543963,124.141645,POINT (124.14164 7.54396),PH153602007
13,2017,"J. Sayang Shipping Lines, 2017","Lomboy, Brgy. Nalil, Bongao, Tawi-Tawi",None,Waiting for Acquisition of Vessel,7.329412,124.225436,POINT (124.22544 7.32941),PH153811021
14,2016,"Kaltimex Rural Energy, 2016","Bongao, Tawi-Tawi",TAWI-TAWI,Commercial operation,5.105173,119.814620,POINT (119.81462 5.10517),NaN
15,1996,"LA FRUTERA, 1996","Buluan, Maguindanao",MAGUINDANAO,Operational,7.205488,124.227122,POINT (124.22712 7.20549),PH129804030
16,2014,"Lamsan Power, 2014","Crossing Simuay, Sultan Kudarat, Maguindanao",MAGUINDANAO,Operational/ On-going construction of power plant,7.333498,124.223119,POINT (124.22312 7.33350),PH153811021
17,2007,"Lamsan Trading, 2007","Sultan Kudarat, Maguindanao",MAGUINDANAO,Operational,6.742974,124.802157,POINT (124.80216 6.74297),PH153833001
18,2017,"Mactan Rock TGV Builders, 2017","Brgy. Makaguiling, Sultan Kudarat, Maguindanao",MAGUINDANAO,2018 commercial operation,7.279858,124.284309,POINT (124.28431 7.27986),PH153812012
19,2015,"Maguindanao Energy Farms, 2015","Sultan Kudarat, Maguindanao",MAGUINDANAO,On going land preparation,6.938787,124.284348,POINT (124.28435 6.93879),PH153816018
20,2011,"Matling Industrial and Commercial, 2011","Malabang, Lanao Sur",LANAO DEL SUR,Operational,5.105173,119.814620,POINT (119.81462 5.10517),NaN
21,2018,"Mina Vida de Mindanao, 2018","Languyan, Tawi-Tawi",TAWI-TAWI,Operational,5.352892,120.226489,POINT (120.22649 5.35289),PH157009016
22,2007,"Minrico Lumber, 2007","Gang, Sultan Kudarat",MAGUINDANAO,Operational,7.274224,124.271542,POINT (124.27154 7.27422),PH153824006
23,2004,"Mt. Kalatungan Agri-Ventures, 2004","Bumbaran, Lanao Del Sur",LANAO DEL SUR,Operational,7.749445,124.661999,POINT (124.66200 7.74944),PH153637021
24,2010,"Philippine Trade Center, 2010","Sultan Kudarat, Maguindanao",MAGUINDANAO,Shutdown,7.262495,124.309569,POINT (124.30957 7.26250),PH153812010
25,2014,"Power up Ventures, 2014","Polloc, Parang, Maguindanao",MAGUINDANAO,Operational,5.352892,120.226489,POINT (120.22649 5.35289),PH157009016
26,2014,"S.R. Languyan Mining, 2014",Languyan Tawi-Tawi,TAWI-TAWI,Operational,5.352892,120.226489,POINT (120.22649 5.35289),PH157009016
27,2018,"Sulu Food and Beverage, 2018","Brgy. Kajatian, Indanan, Sulu",SULU,On going preparation of plant,6.038238,120.993121,POINT (120.99312 6.03824),PH156601011
28,2015,"Tawi-Tawian Petroleum Trading, 2015","Brgy. Baunoh Garing, Panglima Sugala, Tawi-Tawi",TAWI-TAWI,Depot under repair,7.329412,124.225436,POINT (124.22544 7.32941),PH153811021
29,2009,"Wao Development, 2009","Wao, Lanao Del Sur",LANAO DEL SUR,Operational,7.667561,124.710231,POINT (124.71023 7.66756),PH153630035

In [14]:
# google_banks = pd.DataFrame()
# for r in np.arange(0,len(muni_bounds2)):
#     lon_lat = str(muni_bounds2.iloc[r,:]['lat'])+","+str(muni_bounds2.iloc[r,:]['lon'])
#     temp_places = get_googleplaces(lon_lat,'50000','bank',anjAPIKey)
#     google_banks = pd.concat([google_banks,temp_places])
    
# google_banks.to_csv('Processed/BARMM_Banks2.csv')
google_banks = pd.read_csv('Processed/BARMM_Banks.csv').drop(columns = ['Unnamed: 0'])
google_banks = google_banks.drop_duplicates().reset_index(drop = True)
google_banks
# len(set(google_banks.place_id))

,place_id,Name,Status,LAT,LONG,PlaceType
0,ChIJmSKgpdVR_zIRSOnO9uzoqeU,Land Bank of the Philippines - Wao,OPERATIONAL,7.637799,124.724216,bank
1,ChIJYSZJdrlF_zIR3cZIharBVAU,D' Asian Hills Bank,OPERATIONAL,7.744358,124.747350,bank
2,ChIJFUhuA7pF_zIR0QKWmj7mSM0,1st Valley Bank Kalilangan,OPERATIONAL,7.746384,124.746166,bank
3,ChIJ1dY6ZxNN_zIRupeY5bcyzi8,WESTERN UNION- EJF SERVICE STORE WAO BRANCH,OPERATIONAL,7.636300,124.725447,bank
4,ChIJ4x1DXG9N_zIRf7emHypbP_c,USSC-WESTERN UNION EJFSS WAO BRANCH,OPERATIONAL,7.636321,124.725463,bank
...,...,...,...,...,...,...
363,ChIJAX8TCpEY-DIRFGju9Eh7vAM,Easy Pay Finance Corporation.,OPERATIONAL,6.498427,124.847514,bank
364,ChIJY6BNspMY-DIRdRPcCeXTADs,Yusay Credit and Finance Corporation,OPERATIONAL,6.498581,124.843952,bank
365,ChIJxakmaKcY-DIREn7UVhCXmNw,Security Bank - Koronadal,OPERATIONAL,6.497713,124.846210,bank
366,ChIJa_j56JMY-DIRKa3GbXmMnnU,Enterprise Bank,OPERATIONAL,6.497395,124.845039,bank
367,ChIJJUw-SpIY-DIRhg_23fDsvHo,Metrobank,OPERATIONAL,6.497345,124.845093,bank

In [20]:
# google_lgu = pd.DataFrame()
# for r in np.arange(0,len(muni_bounds2)):
#     lon_lat = str(muni_bounds2.iloc[r,:]['lat'])+","+str(muni_bounds2.iloc[r,:]['lon'])
#     temp_places = get_googleplaces(lon_lat,'20000','local_government_office',anjAPIKey)
#     google_lgu = pd.concat([google_lgu,temp_places])
    
google_lgu.to_csv('Processed/BARMM_Local_Govt_Office.csv')

google_lgu = pd.read_csv('Processed/BARMM_Local_Govt_Office.csv').drop(columns = ['Unnamed: 0'])
google_lgu = google_lgu.drop_duplicates().reset_index(drop = True)
print(len(set(google_lgu.place_id)))
google_lgu

Empty DataFrame
Columns: []
Index: []

# Agriculture

In [151]:
# Poverty multifaceted (hazards: susceptibility to risk) ======================================

flood = gpd.read_file("1-Geodata/4-HAZARDS/Hazards - Flood-prone Areas in BCT (MGB, 2015)/Hazards - Flood - BCT - MGB.shp")
fault_line = gpd.read_file('1-Geodata/4-HAZARDS/Hazards - Faultlines in ARMM (PhiVolcs, 2018)/ARMM_Faultlines_UTM51N_PhiVolcs.shp')
storm_surge = gpd.read_file('1-Geodata/4-HAZARDS/Hazards - Storm surge-prone areas in ARMM (UP NOAH, 2018)/Storm Surge_UTM51N_NOAH.shp')

## Health and Well Being

In [28]:
# Wash Programs
BUB_2013_WASH = pd.read_excel("2-Tabular Data/8-Interventions/BUB 2013-WASH.xlsx") # 
BUB_2013_WASH = BUB_2013_WASH.drop(columns=['AMT..1']).rename(columns={'BUB 2013':'BUB YEAR'})
BUB_2014_WASH = pd.read_excel("2-Tabular Data/8-Interventions/BUB 2014-WASH.xlsx") # 

SalinTubig_WASH = pd.read_excel("2-Tabular Data/8-Interventions/SalinTubig-WASH.xlsx")
TISP_WASH = pd.read_excel("2-Tabular Data/8-Interventions/TISP-WASH.xlsx")

BUB_WASH = pd.concat([BUB_2013_WASH,BUB_2014_WASH])

del BUB_2013_WASH,BUB_2014_WASH

BUB_WASH

,PROV,MUNI,PSGC_PROV,PSGC_MUNI,AMT.,BUB YEAR,Project Title
0,MAGUINDANAO,Ampatuan,PH153800000,PH153801000,0.800,BUB 2013,Const. of PWS with Laundry Shed Lev. I
1,MAGUINDANAO,Buldon,PH153800000,PH153802000,2.210,BUB 2013,Construction of PWS Lev. II
2,MAGUINDANAO,Buluan,PH153800000,PH153803000,1.900,BUB 2013,Construction of PWS Lev. I
3,MAGUINDANAO,PAGAGAWAN,PH153800000,PH153822000,1.700,BUB 2013,Construction of PWS Lev. I
4,MAGUINDANAO,DATU ODIN SINSUAT (DINAIG),PH153800000,PH153807000,1.315,BUB 2013,Construction of Baka PWS Lev. II
...,...,...,...,...,...,...,...
47,TAWI-TAWI,MAPUN (CAGAYAN DE TAWI-TAWI),PH157000000,PH157003000,4.000,BUB 2014,PWS Project - Cap. Dev. Re: Water Mngt.
48,TAWI-TAWI,PANGLIMA SUGALA (BALIMBING),PH157000000,PH157001000,0.700,BUB 2014,Construction of PWS Lev. I
49,TAWI-TAWI,Simunul,PH157000000,PH157004000,15.000,BUB 2014,1. PWS Project: Treatment Facilities
50,TAWI-TAWI,Sitangkai,PH157000000,PH157005000,5.000,BUB 2014,Const. of Plastic Water Tank w/ Base
51,TAWI-TAWI,South Ubian,PH157000000,PH157006000,0.500,BUB 2014,Cap. Bldg. Of LGU and CSOs on LG

In [122]:
# Drinking water
drink_water = pd.read_excel("2-Tabular Data/5-Social/Main Source of Water Supply for Drinking (ARMM 2015)/Main Source of Water Supply for Drinking (ARMM 2015) CityMuni.xlsx")
cook_water = pd.read_excel("2-Tabular Data/5-Social/Main Source of Water Supply for Cooking (ARMM 2015)/Main Source of Water Supply for Cooking (ARMM 2015) CityMuni.xlsx")

# Water Bodies
rivers = gpd.read_file("1-Geodata/3-PHYSICAL-ENVIRONMENTAL/Environment - River Line in ARMM (OSM, 2019)/Environment - River Line, 2019 - ARMM - OSM.shp")
water_bodies = gpd.read_file("1-Geodata/3-PHYSICAL-ENVIRONMENTAL/Environment - River Line in ARMM (OSM, 2019)/Environment - River Line, 2019 - ARMM - OSM.shp")

,PROV,MUNI,PSGC_PROV,PSGC_MUNI,Amt,Project Title
0,MAGUINDANAO,PAGAGAWAN,PH153800000,PH153822000,8.82,Salintubig Regular
1,MAGUINDANAO,DATU ODIN SINSUAT (DINAIG),PH153800000,PH153807000,8.82,Salintubig Regular
2,MAGUINDANAO,Guindulungan,PH153800000,PH153825000,8.82,Salintubig Regular
3,MAGUINDANAO,KABUNTALAN (TUMBAO),PH153800000,PH153814000,8.82,Salintubig Regular
4,MAGUINDANAO,Northern Kabuntalan,PH153800000,PH153834000,8.82,Salintubig Regular

In [ ]:
drink_water.head()

In [118]:
cook_water.head()

,CITY_MUNI,PSGC,Number of Households,Own use faucet community water system,Shared faucet community water system,Own use tubed/piped deep well,Shared tubed/\npiped deep well,Tubed/\npiped shallow well,Dug well,Protected spring,Unprotected spring,Lake river rain and others,Peddler,Bottled water,Others
0,CITY OF LAMITAN,PH150702000,15065,3621,3585,592,2991,586,2899,542,31,127,40,47,4
1,LANTAWAN,PH150703000,4609,585,834,278,1673,23,781,193,118,107,16,1,0
2,MALUSO,PH150704000,6294,2783,2134,262,346,2,132,153,183,218,58,21,2
3,SUMISIP,PH150705000,7408,737,3187,328,720,163,1150,367,15,465,223,52,1
4,TIPO-TIPO,PH150706000,3149,364,773,14,574,38,427,38,271,598,1,0,51

## HEALTH : Determining Location for New RHU or BHS

### Count of RHUs and BHS for each area

In [47]:
rhu_bhs = gpd.read_file("1-Geodata/5-SOCIAL/Social - No. of RHU and BHS in ARMM (DOH, 2018)/Social - No. of RHU and BHS in ARMM, 2018 - DOH.shp")
rhu_bhs = rhu_bhs[['Mun_Code','Population','BANGSAMO_2','RHU Sheet1','Establishm','geometry']]
rhu_bhs["geometry"] = rhu_bhs['geometry'].to_crs(epsg=4326)
rhu_bhs["area"] = rhu_bhs['geometry'].area/10**6

/opt/envs/airflow/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  after removing the cwd from sys.path.

In [48]:
rhu_bhs

,Mun_Code,Population,BANGSAMO_2,RHU Sheet1,Establishm,geometry,area
0,PH157006000,25935.0,24.0,8.0,46.00,"MULTIPOLYGON (((120.45064 5.15174, 120.45067 5...",2.584609e-09
1,PH157005000,33334.0,11.0,6.0,88.00,"MULTIPOLYGON (((119.38935 4.61459, 119.38928 4...",2.270758e-09
2,PH157011000,30387.0,10.0,8.0,65.00,"MULTIPOLYGON (((119.46876 4.59360, 119.46881 4...",8.569601e-09
3,PH157010000,30917.0,26.0,5.0,18.00,"MULTIPOLYGON (((120.12521 5.00089, 120.12523 5...",4.177576e-09
4,PH157009000,33494.0,30.0,6.0,s,"MULTIPOLYGON (((119.87440 5.19614, 119.87439 5...",1.883574e-08
...,...,...,...,...,...,...,...
113,PH157003000,26597.0,20.0,11.0,87.00,"MULTIPOLYGON (((118.40091 6.87890, 118.40090 6...",5.756247e-09
114,PH157002000,100527.0,27.0,11.0,379.00,"MULTIPOLYGON (((119.75876 5.03531, 119.75878 5...",9.958261e-09
115,PH157001000,44184.0,19.0,10.0,48.00,"MULTIPOLYGON (((119.93324 4.90231, 119.93326 4...",1.908184e-08
116,PH157008000,4727.0,4.0,4.0,#N/A,"MULTIPOLYGON (((118.31772 6.08671, 118.31774 6...",2.828001e-10
117,PH157007000,29390.0,21.0,2.0,31.00,"MULTIPOLYGON (((120.32326 5.14196, 120.32325 5...",1.800088e-08

### Hospitals in Bangsamoro DataBase

In [106]:
hospitals = gpd.read_file("1-Geodata/5-SOCIAL/Social - Hospital Locations in ARMM (DOH, 2018)/Social - Hospital Locations, 2018 -ARMM - DOH.shp")
hospitals = hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC','HEALTH FAC','LAT','LONG','geometry']]
hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']] = hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']].replace(np.nan, 0, regex=True)
hospitals['PROV_PSGC'] =  ["PH"+str(x) for x in hospitals['PROV_PSGC']]
hospitals['BRGY_PSGC'] =  ["PH"+str(int(x)) for x in hospitals['BRGY_PSGC']]
hospitals['MUNI_PSGC'] =  ["PH"+str(int(x)) for x in hospitals['MUNI_PSGC']]
hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']] = hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']].replace('PH0', '')
hospitals["geometry"] = hospitals['geometry'].to_crs(epsg=4326)

### Hospitals on Google Maps

In [107]:
# https://www.google.com/maps/d/viewer?ie=UTF8&oe=UTF8&hl=en&msa=0&start=0&num=200&mid=1iHj9oLetM0ashn-46JlVAjakyV8&ll=6.4684573957861735%2C122.43705112153759&z=9

# with open("External Source/Government and Public Hospitals in the Philippines.kml") as f:
#   folder = parser.parse(f).getroot().Document.Folder

# plnm=[]
# cordi=[]
# for pm in folder.Placemark:
#     plnm1=pm.name
#     plcs1=pm.Point.coordinates
#     plnm.append(plnm1.text)
#     cordi.append(plcs1.text)
    
# google_hospitals = pd.DataFrame({'hosp_name':plnm,'coordinates':cordi})
# google_hospitals['coordinates'] = google_hospitals['coordinates'].str.replace(' ', '')
# google_hospitals['coordinates'] = google_hospitals['coordinates'].str.replace('\n', '')
# google_hospitals = pd.concat([google_hospitals[['hosp_name','coordinates']], google_hospitals['coordinates'].str.split(',', expand=True)], axis=1)
# google_hospitals.columns = ['hosp_name','coordinates','longitude','latitude','h'] 
# google_hospitals = gpd.GeoDataFrame(google_hospitals,geometry=gpd.points_from_xy(google_hospitals.longitude, google_hospitals.latitude),crs="EPSG:4326")

# del plnm,cordi,plcs1,plnm1,folder

# google_hospitals = sjoin(google_hospitals, rhu_bhs[['Mun_Code','geometry']], how='left',op='within')
# google_hospitals = google_hospitals[google_hospitals.Mun_Code.notna()].reset_index()
# google_hospitals.to_excel("External Source/GoogleMapsHospitals.xlsx")

google_hospitals = pd.read_excel("External Source/GoogleMapsHospitals.xlsx").drop(columns=['Unnamed: 0','index'])

### 2018 DOH list of RHUs in the Philippines

In [108]:
doh_rhu = pd.read_excel("External Source/NHFR_RHUFacilities_asofNov82018_2.xlsx")
doh_rhu = doh_rhu[doh_rhu.RegionPSGC==150000000]
doh_rhu = doh_rhu.replace('-', None)
doh_rhu['PSGC_PROV'] = ['PH'+str(x) for x in doh_rhu['ProvincePSGC']]
doh_rhu['PSGC_CITY/MUNI'] = ['PH'+str(x) for x in doh_rhu['City/MunicipalityPSGC']]
doh_rhu['PSGC_BRGY'] = ['PH'+str(x) for x in doh_rhu['BarangayPSGC']]
doh_rhu['FacilityAddress'] = doh_rhu['FacilityName']+' '+doh_rhu['BarangayName']+' '+doh_rhu['City/MunicipalityName']+' '+doh_rhu['ProvinceName']+' PHILIPPINES'

doh_rhu = doh_rhu[['HealthFacilityCode','PSGC_PROV','PSGC_CITY/MUNI','PSGC_BRGY',\
                   'ProvinceName','City/MunicipalityName','BarangayName','FacilityAddress',\
                   'HealthFacilityCode','HealthFacilityCodeShort','FacilityName','HealthFacilityType',\
                   'OwnershipMajorClassification','OwnershipSubClassificationforGovernmentFacilities']]

# doh_rhu_add = pd.DataFrame()
# for i in doh_rhu.FacilityAddress:
#     print(str(i)+' out of '+str(doh_rhu.shape[0]))
#     lat,long = get_lat_lng(anjAPIKey,i)
#     doh_rhu_add = pd.concat([doh_rhu_add,pd.DataFrame({'FacilityAddress':[i],'LAT':[lat],'LONG':[long]})])
# doh_rhu_add.to_excel('External Source/NHFR_RHUFacilities_LonLat.xlsx')

doh_rhu_add = pd.read_excel('External Source/NHFR_RHUFacilities_LonLat.xlsx')
doh_rhu_add = doh_rhu_add.drop(columns='Unnamed: 0')

doh_rhu = pd.merge(doh_rhu,doh_rhu_add,on='FacilityAddress',how='left')
doh_rhu = gpd.GeoDataFrame(doh_rhu,geometry=gpd.points_from_xy(doh_rhu.LONG, doh_rhu.LAT),crs="EPSG:4326")
doh_rhu = doh_rhu[['FacilityName','geometry','LONG','LAT','PSGC_CITY/MUNI','PSGC_BRGY','PSGC_PROV',\
                  'HealthFacilityType','HealthFacilityCode','OwnershipMajorClassification','OwnershipSubClassificationforGovernmentFacilities']]
doh_rhu = doh_rhu.loc[:,~doh_rhu.columns.duplicated()]
doh_rhu = doh_rhu.rename(columns={'HealthFacilityType':'Type'})

del doh_rhu_add

### Merge all hospitals

In [147]:
hospitals = hospitals[['HEALTH FAC','geometry','LONG','LAT','MUNI_PSGC','BRGY_PSGC','PROV_PSGC']]
google_hospitals = google_hospitals[['hosp_name','geometry','longitude','latitude','Mun_Code']]
google_hospitals = google_hospitals[~google_hospitals.hosp_name.isin(hospitals['HEALTH FAC'].values)]

hospitals.columns = ['FacilityName','geometry','LONG','LAT','PSGC_CITY/MUNI','PSGC_BRGY','PSGC_PROV']
google_hospitals.columns = ['FacilityName','geometry','LONG','LAT','PSGC_CITY/MUNI']

df_hospitals = pd.concat([hospitals, google_hospitals])
df_hospitals['Type'] = 'Hospital'

df_hosp_rhu = pd.concat([df_hospitals, doh_rhu])

del df_hospitals

df_hosp_rhu.to_excel('Processed/Hospitals_RHUs.xlsx')
df_hosp_rhu.head()

,FacilityName,geometry,LONG,LAT,PSGC_CITY/MUNI,PSGC_BRGY,PSGC_PROV,Type,HealthFacilityCode,OwnershipMajorClassification,OwnershipSubClassificationforGovernmentFacilities
0,Lamitan District Hospital,POINT (122.13658 6.65628),122.136584,6.656280,PH150702000,,PH150700000,Hospital,NaN,NaN,NaN
1,Sumisip District Hospital,POINT (122.00655 6.42600),122.006554,6.425996,PH150705000,PH150705031,PH150700000,Hospital,NaN,NaN,NaN
2,Lamitan Infirmary,POINT (122.13658 6.65626),122.136576,6.656264,PH150702000,,PH150700000,Hospital,NaN,NaN,NaN
3,Tamparan District Hospital,POINT (124.32817 7.87631),124.328168,7.876309,PH153626000,PH153626034,PH153600000,Hospital,NaN,NaN,NaN
4,Dr. Serapio Montaner Memorial Hospital,POINT (124.08089 7.58108),124.080893,7.581081,PH153615000,,PH153600000,Hospital,NaN,NaN,NaN

In [8]:
current locations to map out
- education - school locations and type
- hospitals - hospital locations 
- economic geodata - businesses and banks registered - see economic focus of certain areas and determine which need more focus

features for model to determine locations of focus
- population density of areas - to determine the need for schools or if susceptible sa spread of covid
- gainful workers data - 
- roads - check if hospitals or schools accessible to the community
- hazard - map out areas that are susceptible to floods, landslides, etc

* di ko alam kung itutuloy niyo pa yung good governance
- interventions - expenditure on house-building projects, Public water system construction, etc

Other data sources 
- DOH data on RHUs and locations
- Google Earth Data on hospitals

SyntaxError: invalid syntax (<ipython-input-8-72b9dc0eb6e0>, line 1)

In [ ]:
# Power BI R code
library(readxl)

psgc <- read_excel('//10.51.2.73/Dev Files/ascollanto/01 BARRM DATA CHALLENGE/Reference/complete_psgc.xlsx')
population <- read_excel('//10.51.2.73/Dev Files/ascollanto/01 BARRM DATA CHALLENGE/Processed/BARMM_Population1015.xlsx')
hosp_rhu <- read_excel('//10.51.2.73/Dev Files/ascollanto/01 BARRM DATA CHALLENGE/Processed/Hospitals_RHUs.xlsx')

schools_2017 <- read_excel("//10.51.2.73/Dev Files/ascollanto/01 BARRM DATA CHALLENGE/2-Tabular Data/2-Infrastructure/SchoolsDepEd2017.xlsx")