# Hospitals and RHUs

In [1]:
import pandas as pd
import numpy as np
import os

import geopandas as gpd
from geopandas.tools import sjoin
from shapely.geometry import Point, Polygon
import rtree
import pygeos
import fiona
from pykml import parser


pd.options.display.max_columns = 999

/opt/envs/airflow/lib/python3.6/site-packages/geopandas/_compat.py:88: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.8.1-CAPI-1.13.3). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
os.getcwd()

'/files/ascollanto/01 BARRM DATA CHALLENGE'

In [3]:
anjAPIKey = "AIzaSyAtdWyVx2SxXQKELJTq8WnBLReUvF7K8bk" # please dont use my api key haha

def get_lat_lng(apiKey, address):
    """
    Returns the latitude and longitude of a location using the Google Maps Geocoding API. 
    API: https://developers.google.com/maps/documentation/geocoding/start

    # INPUT -------------------------------------------------------------------
    apiKey                  [str]
    address                 [str]

    # RETURN ------------------------------------------------------------------
    lat                     [float] 
    lng                     [float] 
    """
    import requests
    url = ('https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}'.format(address.replace(' ','+'), apiKey))
    try:
        response = requests.get(url)
        resp_json_payload = response.json()
        lat = resp_json_payload['results'][0]['geometry']['location']['lat']
        lng = resp_json_payload['results'][0]['geometry']['location']['lng']
    except:
        print('ERROR: {}'.format(address))
        lat = 0
        lng = 0
    return lat, lng

# Generate compiled PSGC codes

In [4]:
# # PSGC codes
# province_psgc = pd.read_excel("Reference/province_psgc.xlsx")
# province_psgc.columns = ['PSGC_PROV','PROV']
# province_psgc['PSGC_PROV'] = province_psgc['PSGC_PROV'].str.replace(' ', '')
# province_psgc['PSGC_PROV'] = ['PH'+x[:4]+"00000" for x in province_psgc['PSGC_PROV']]

# city_psgc = pd.read_excel("Reference/city_psgc.xlsx")
# city_psgc.columns = ['PSGC_CITY/MUNI','CITY/MUNI']
# city_psgc['PSGC_CITY/MUNI'] = city_psgc['PSGC_CITY/MUNI'].str.replace(' ', '')
# city_psgc['PSGC_CITY/MUNI'] = ['PH'+x[:6]+"000" for x in city_psgc['PSGC_CITY/MUNI']]
# city_psgc['PSGC_PROV'] = [x[:6]+"00000" for x in city_psgc['PSGC_CITY/MUNI']]

# brgy_psgc = pd.read_excel("Reference/barangay_psgc.xlsx")
# brgy_psgc.columns = ['PSGC_BRGY','BRGY']
# brgy_psgc.PSGC_BRGY = brgy_psgc.PSGC_BRGY.str.replace(' ', '')
# brgy_psgc['PSGC_BRGY'] = 'PH' + brgy_psgc['PSGC_BRGY'].astype(str)
# brgy_psgc['PSGC_CITY/MUNI'] = [x[:8]+"000" for x in brgy_psgc['PSGC_BRGY']]

# psgc = province_psgc.merge(city_psgc,on="PSGC_PROV",how='left')
# psgc = psgc.merge(brgy_psgc,on="PSGC_CITY/MUNI",how='left')
# psgc['brgy_address'] = psgc['BRGY']+' '+psgc['CITY/MUNI']+' '+psgc['PROV']+' PHILIPPINES'

# psgc.to_excel("Reference/complete_psgc.xlsx")
# psgc.to_csv("Reference/complete_psgc.csv")
# del brgy_psgc,city_psgc,province_psgc

In [5]:
psgc = pd.read_excel("Reference/complete_psgc.xlsx")
psgc = pd.read_csv("Reference/complete_psgc.csv")
psgc = psgc.drop(columns=['Unnamed: 0'])
psgc['BRGY'] = psgc['BRGY'].str.strip().str.upper()
psgc['CITY/MUNI'] = psgc['CITY/MUNI'].str.strip().str.upper()

# Population and Ethnicity

In [17]:
Population_2010_2015 = pd.read_excel("2-Tabular Data/5-Social/Population 2010, 2015 ARMM,BCT.xlsx")
Population_2010_2015 = Population_2010_2015.loc[Population_2010_2015.PSGC_REGI=="PH150000000"]

Population_2010_2015['Total_under18'] = Population_2010_2015.loc[:, 'sin_age_bot_und_001':'sin_age_bot_017'].sum(axis=1)
Population_2010_2015['Total_18to59'] = Population_2010_2015.loc[:, 'sin_age_bot_018':'sin_age_bot_059'].sum(axis=1)
Population_2010_2015['Total_over60'] = Population_2010_2015.loc[:, 'sin_age_bot_060':'sin_age_bot_080_and_ove'].sum(axis=1)

Population_2010_2015['Male_under18'] = Population_2010_2015.loc[:, 'sin_age_mal_und_001':'sin_age_mal_017'].sum(axis=1)
Population_2010_2015['Male_18to59'] = Population_2010_2015.loc[:, 'sin_age_mal_018':'sin_age_mal_059'].sum(axis=1)
Population_2010_2015['Male_over60'] = Population_2010_2015.loc[:, 'sin_age_mal_060':'sin_age_mal_080_and_ove'].sum(axis=1)

Population_2010_2015['Female_under18'] = Population_2010_2015.loc[:, 'sin_age_fem_und_001':'sin_age_fem_017'].sum(axis=1)
Population_2010_2015['Female_18to59'] = Population_2010_2015.loc[:, 'sin_age_fem_018':'sin_age_fem_059'].sum(axis=1)
Population_2010_2015['Female_over60'] = Population_2010_2015.loc[:, 'sin_age_fem_060':'sin_age_fem_080_and_ove'].sum(axis=1)

Population_2010_2015[['PSGC_CITY/MUNI','PSGC_BRGY','Pop2010','Pop2015','HH_pop','num_hh0',\
                      'num_hh0','num_hh0_mal','num_hh0_fem','num_hh0_both',\
                      'bel_20_hh0','20-29_hh0','30-39_hh0','40-49_hh0','50-59_hh0','60-69_hh0','70-79_hh0','80_abv',\
                      'num_hh0_mal.1','bel_20_hh0_mal','20-29_hh0_mal','30-39_hh0_mal','40-49_hh0_mal','50-59_hh0_mal','60-69_hh0_mal','70-79_hh0_mal','80_abv_mal',\
                      'num_hh0_fem.1','bel_20_hh0_fem','20-29_hh0_fem','30-39_hh0_fem','40-49_hh0_fem','50-59_hh0_fem','60-69_hh0_fem','70-79_hh0_fem','80_abv_fem',
                      'Total_under18','Total_18to59','Total_over60',
                      'Male_under18','Male_18to59','Male_over60',
                      'Female_under18','Female_18to59','Female_over60']].to_excel('Processed/BARMM_Population1015.xlsx')

ethnicity = pd.read_excel("2-Tabular Data/5-Social/Household Population by Ethnicity (ARMM, 2010)/Household Population by Ethnicity (ARMM, 2010) Brgy.xlsx") #household level i think
ethnicity.loc[:, (ethnicity != 0).any(axis=0)]
# Areas that have restrictions in entering
ground_zero = pd.read_excel("2-Tabular Data/1-Administrative/Ground Zero.xlsx")

In [18]:
population = pd.read_excel('Processed/BARMM_Population1015.xlsx')
population

,Unnamed: 0,PSGC_CITY/MUNI,PSGC_BRGY,Pop2010,Pop2015,HH_pop,num_hh0,num_hh0.1,num_hh0_mal,num_hh0_fem,num_hh0_both,bel_20_hh0,20-29_hh0,30-39_hh0,40-49_hh0,50-59_hh0,60-69_hh0,70-79_hh0,80_abv,num_hh0_mal.1,bel_20_hh0_mal,20-29_hh0_mal,30-39_hh0_mal,40-49_hh0_mal,50-59_hh0_mal,60-69_hh0_mal,70-79_hh0_mal,80_abv_mal,num_hh0_fem.1,bel_20_hh0_fem,20-29_hh0_fem,30-39_hh0_fem,40-49_hh0_fem,50-59_hh0_fem,60-69_hh0_fem,70-79_hh0_fem,80_abv_fem,Total_under18,Total_18to59,Total_over60,Male_under18,Male_18to59,Male_over60,Female_under18,Female_18to59,Female_over60
0,0,PH150702000,PH150702001,800,672,667,160,160,137,23,160,0,28,33,35,31,21,6,6,137,0,27,30,35,23,15,4,3,23,0,1,3,0,8,6,2,3,269,354,49,147,190,23,122,164,26
1,1,PH150702000,PH150702002,1266,1255,1255,231,231,159,72,231,4,45,52,57,33,24,13,3,159,4,36,39,41,20,10,6,3,72,0,9,13,16,13,14,7,0,593,581,81,284,282,30,309,299,51
2,2,PH150702000,PH150702004,451,500,500,101,101,76,25,101,1,19,17,28,13,15,7,1,76,1,15,16,25,9,7,3,0,25,0,4,1,3,4,8,4,1,243,224,33,129,98,14,114,126,19
3,3,PH150702000,PH150702005,2597,2359,2359,434,434,358,76,434,1,45,120,93,97,48,23,7,358,0,43,110,75,73,41,10,6,76,1,2,10,18,24,7,13,1,997,1239,123,533,597,66,464,642,57
4,4,PH150702000,PH150702006,2809,2918,2918,546,546,380,166,546,2,94,136,130,84,76,18,6,380,0,68,97,102,52,48,11,2,166,2,26,39,28,32,28,7,4,1314,1440,164,676,725,84,638,715,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477,2477,PH157011000,PH157011012,2326,2509,2509,377,377,351,26,377,2,37,98,114,70,42,13,1,351,2,37,96,105,61,37,12,1,26,0,0,2,9,9,5,1,0,1114,1283,112,548,627,64,566,656,48
2478,2478,PH157011000,PH157011013,2610,3050,3050,472,472,445,27,472,7,90,121,122,74,45,10,3,445,7,88,117,116,68,37,9,3,27,0,2,4,6,6,8,1,0,1220,1701,129,609,875,65,611,826,64
2479,2479,PH157011000,PH157011014,1433,1559,1559,303,303,288,15,303,1,46,99,78,52,22,5,0,288,1,45,97,75,47,19,4,0,15,0,1,2,3,5,3,1,0,666,842,51,363,412,30,303,430,21
2480,2480,PH157011000,PH157011015,2016,2216,2216,322,322,303,19,322,2,37,84,92,65,28,11,3,303,2,35,83,87,60,26,9,1,19,0,2,1,5,5,2,2,2,913,1187,116,451,610,66,462,577,50
2481,2481,PH157011000,PH157011016,2043,2267,2267,368,368,333,35,368,0,75,108,112,35,29,8,1,333,0,71,97,99,31,27,8,0,35,0,4,11,13,4,2,0,1,1086,1124,57,551,556,37,535,568,20

## HEALTH : Determining Location for New RHU or BHS

### Count of RHUs and BHS for each area

In [8]:
rhu_bhs = gpd.read_file("1-Geodata/5-SOCIAL/Social - No. of RHU and BHS in ARMM (DOH, 2018)/Social - No. of RHU and BHS in ARMM, 2018 - DOH.shp")
rhu_bhs = rhu_bhs[['Mun_Code','Population','BANGSAMO_2','RHU Sheet1','Establishm','geometry']]
rhu_bhs["geometry"] = rhu_bhs['geometry'].to_crs(epsg=4326)
rhu_bhs["area"] = rhu_bhs['geometry'].area/10**6

/opt/envs/airflow/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  after removing the cwd from sys.path.

### Hospitals in Bangsamoro DataBase

In [9]:
hospitals = gpd.read_file("1-Geodata/5-SOCIAL/Social - Hospital Locations in ARMM (DOH, 2018)/Social - Hospital Locations, 2018 -ARMM - DOH.shp")
hospitals = hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC','HEALTH FAC','LAT','LONG','geometry']]
hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']] = hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']].replace(np.nan, 0, regex=True)
hospitals['PROV_PSGC'] =  ["PH"+str(x) for x in hospitals['PROV_PSGC']]
hospitals['BRGY_PSGC'] =  ["PH"+str(int(x)) for x in hospitals['BRGY_PSGC']]
hospitals['MUNI_PSGC'] =  ["PH"+str(int(x)) for x in hospitals['MUNI_PSGC']]
hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']] = hospitals[['PROV_PSGC','MUNI_PSGC','BRGY_PSGC']].replace('PH0', '')
hospitals["geometry"] = hospitals['geometry'].to_crs(epsg=4326)

### Hospitals on Google Maps

In [10]:
# https://www.google.com/maps/d/viewer?ie=UTF8&oe=UTF8&hl=en&msa=0&start=0&num=200&mid=1iHj9oLetM0ashn-46JlVAjakyV8&ll=6.4684573957861735%2C122.43705112153759&z=9

# with open("External Source/Government and Public Hospitals in the Philippines.kml") as f:
#   folder = parser.parse(f).getroot().Document.Folder

# plnm=[]
# cordi=[]
# for pm in folder.Placemark:
#     plnm1=pm.name
#     plcs1=pm.Point.coordinates
#     plnm.append(plnm1.text)
#     cordi.append(plcs1.text)
    
# google_hospitals = pd.DataFrame({'hosp_name':plnm,'coordinates':cordi})
# google_hospitals['coordinates'] = google_hospitals['coordinates'].str.replace(' ', '')
# google_hospitals['coordinates'] = google_hospitals['coordinates'].str.replace('\n', '')
# google_hospitals = pd.concat([google_hospitals[['hosp_name','coordinates']], google_hospitals['coordinates'].str.split(',', expand=True)], axis=1)
# google_hospitals.columns = ['hosp_name','coordinates','longitude','latitude','h'] 
# google_hospitals = gpd.GeoDataFrame(google_hospitals,geometry=gpd.points_from_xy(google_hospitals.longitude, google_hospitals.latitude),crs="EPSG:4326")

# del plnm,cordi,plcs1,plnm1,folder

# google_hospitals = sjoin(google_hospitals, rhu_bhs[['Mun_Code','geometry']], how='left',op='within')
# google_hospitals = google_hospitals[google_hospitals.Mun_Code.notna()].reset_index()
# google_hospitals.to_excel("External Source/GoogleMapsHospitals.xlsx")

google_hospitals = pd.read_excel("External Source/GoogleMapsHospitals.xlsx").drop(columns=['Unnamed: 0','index'])

### 2018 DOH list of RHUs in the Philippines

In [11]:
doh_rhu = pd.read_excel("External Source/NHFR_RHUFacilities_asofNov82018_2.xlsx")
doh_rhu = doh_rhu[doh_rhu.RegionPSGC==150000000]
doh_rhu = doh_rhu.replace('-', None)
doh_rhu['PSGC_PROV'] = ['PH'+str(x) for x in doh_rhu['ProvincePSGC']]
doh_rhu['PSGC_CITY/MUNI'] = ['PH'+str(x) for x in doh_rhu['City/MunicipalityPSGC']]
doh_rhu['PSGC_BRGY'] = ['PH'+str(x) for x in doh_rhu['BarangayPSGC']]
doh_rhu['FacilityAddress'] = doh_rhu['FacilityName']+' '+doh_rhu['BarangayName']+' '+doh_rhu['City/MunicipalityName']+' '+doh_rhu['ProvinceName']+' PHILIPPINES'

doh_rhu = doh_rhu[['HealthFacilityCode','PSGC_PROV','PSGC_CITY/MUNI','PSGC_BRGY',\
                   'ProvinceName','City/MunicipalityName','BarangayName','FacilityAddress',\
                   'HealthFacilityCode','HealthFacilityCodeShort','FacilityName','HealthFacilityType',\
                   'OwnershipMajorClassification','OwnershipSubClassificationforGovernmentFacilities']]

# doh_rhu_add = pd.DataFrame()
# for i in doh_rhu.FacilityAddress:
#     print(str(i)+' out of '+str(doh_rhu.shape[0]))
#     lat,long = get_lat_lng(anjAPIKey,i)
#     doh_rhu_add = pd.concat([doh_rhu_add,pd.DataFrame({'FacilityAddress':[i],'LAT':[lat],'LONG':[long]})])
# doh_rhu_add.to_excel('External Source/NHFR_RHUFacilities_LonLat.xlsx')

doh_rhu_add = pd.read_excel('External Source/NHFR_RHUFacilities_LonLat.xlsx')
doh_rhu_add = doh_rhu_add.drop(columns='Unnamed: 0')

doh_rhu = pd.merge(doh_rhu,doh_rhu_add,on='FacilityAddress',how='left')
doh_rhu = gpd.GeoDataFrame(doh_rhu,geometry=gpd.points_from_xy(doh_rhu.LONG, doh_rhu.LAT),crs="EPSG:4326")
doh_rhu = doh_rhu[['FacilityName','geometry','LONG','LAT','PSGC_CITY/MUNI','PSGC_BRGY','PSGC_PROV',\
                  'HealthFacilityType','HealthFacilityCode','OwnershipMajorClassification','OwnershipSubClassificationforGovernmentFacilities']]
doh_rhu = doh_rhu.loc[:,~doh_rhu.columns.duplicated()]
doh_rhu = doh_rhu.rename(columns={'HealthFacilityType':'Type'})

del doh_rhu_add

### Merge all hospitals

In [12]:
hospitals = hospitals[['HEALTH FAC','geometry','LONG','LAT','MUNI_PSGC','BRGY_PSGC','PROV_PSGC']]
google_hospitals = google_hospitals[['hosp_name','geometry','longitude','latitude','Mun_Code']]
google_hospitals = google_hospitals[~google_hospitals.hosp_name.isin(hospitals['HEALTH FAC'].values)]

hospitals.columns = ['FacilityName','geometry','LONG','LAT','PSGC_CITY/MUNI','PSGC_BRGY','PSGC_PROV']
google_hospitals.columns = ['FacilityName','geometry','LONG','LAT','PSGC_CITY/MUNI']

df_hospitals = pd.concat([hospitals, google_hospitals])
df_hospitals['Type'] = 'Hospital'

df_hosp_rhu = pd.concat([df_hospitals, doh_rhu])
df_hosp_rhu['category'] = 'health'

del df_hospitals, google_hospitals, hospitals

df_hosp_rhu.to_excel('Processed/Hospitals_RHUs.xlsx')
df_hosp_rhu.head()

,FacilityName,geometry,LONG,LAT,PSGC_CITY/MUNI,PSGC_BRGY,PSGC_PROV,Type,HealthFacilityCode,OwnershipMajorClassification,OwnershipSubClassificationforGovernmentFacilities,category
0,Lamitan District Hospital,POINT (122.13658 6.65628),122.136584,6.656280,PH150702000,,PH150700000,Hospital,NaN,NaN,NaN,health
1,Sumisip District Hospital,POINT (122.00655 6.42600),122.006554,6.425996,PH150705000,PH150705031,PH150700000,Hospital,NaN,NaN,NaN,health
2,Lamitan Infirmary,POINT (122.13658 6.65626),122.136576,6.656264,PH150702000,,PH150700000,Hospital,NaN,NaN,NaN,health
3,Tamparan District Hospital,POINT (124.32817 7.87631),124.328168,7.876309,PH153626000,PH153626034,PH153600000,Hospital,NaN,NaN,NaN,health
4,Dr. Serapio Montaner Memorial Hospital,POINT (124.08089 7.58108),124.080893,7.581081,PH153615000,,PH153600000,Hospital,NaN,NaN,NaN,health

In [19]:
df_hosp_rhu_ = df_hosp_rhu.merge(population[['PSGC_CITY/MUNI','PSGC_BRGY',
                                             'Total_under18','Total_18to59','Total_over60',
                                             'Male_under18','Male_18to59','Male_over60',
                                             'Female_under18','Female_18to59','Female_over60']],on=["PSGC_CITY/MUNI","PSGC_BRGY"],how='left')
df_hosp_rhu_

,FacilityName,geometry,LONG,LAT,PSGC_CITY/MUNI,PSGC_BRGY,PSGC_PROV,Type,HealthFacilityCode,OwnershipMajorClassification,OwnershipSubClassificationforGovernmentFacilities,category,Total_under18,Total_18to59,Total_over60,Male_under18,Male_18to59,Male_over60,Female_under18,Female_18to59,Female_over60
0,Lamitan District Hospital,POINT (122.13658 6.65628),122.136584,6.656280,PH150702000,,PH150700000,Hospital,NaN,NaN,NaN,health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sumisip District Hospital,POINT (122.00655 6.42600),122.006554,6.425996,PH150705000,PH150705031,PH150700000,Hospital,NaN,NaN,NaN,health,695.0,786.0,72.0,342.0,363.0,41.0,353.0,423.0,31.0
2,Lamitan Infirmary,POINT (122.13658 6.65626),122.136576,6.656264,PH150702000,,PH150700000,Hospital,NaN,NaN,NaN,health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tamparan District Hospital,POINT (124.32817 7.87631),124.328168,7.876309,PH153626000,PH153626034,PH153600000,Hospital,NaN,NaN,NaN,health,197.0,234.0,7.0,127.0,115.0,4.0,70.0,119.0,3.0
4,Dr. Serapio Montaner Memorial Hospital,POINT (124.08089 7.58108),124.080893,7.581081,PH153615000,,PH153600000,Hospital,NaN,NaN,NaN,health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,SITANGKAI RURAL HEALTH UNIT,POINT (119.40487 4.68070),119.404872,4.680702,PH157005000,PH157005023,PH157000000,Rural Health Unit,DOH000000000007202,Government,National Government,health,4220.0,3529.0,306.0,2197.0,1723.0,174.0,2023.0,1806.0,132.0
174,SOUTH UBIAN RURAL HEALTH UNIT,POINT (120.48785 5.19086),120.487850,5.190862,PH157006000,PH157006029,PH157000000,Rural Health Unit,DOH000000000004619,Government,National Government,health,455.0,436.0,29.0,235.0,213.0,21.0,220.0,223.0,8.0
175,TABAWAN RURAL HEALTH UNIT,POINT (120.59841 5.20635),120.598414,5.206348,PH157006000,PH157006025,PH157000000,Rural Health Unit,DOH000000000031785,Government,National Government,health,248.0,411.0,50.0,109.0,201.0,26.0,139.0,210.0,24.0
176,TANDUBAS RURAL HEALTH UNIT,POINT (120.33923 5.12632),120.339227,5.126325,PH157007000,PH157007033,PH157000000,Rural Health Unit,DOH000000000002115,Government,National Government,health,1519.0,1564.0,161.0,770.0,771.0,93.0,749.0,793.0,68.0
177,TURTLE ISLANDS RURAL HEALTH UNIT,POINT (120.33923 5.12632),120.339227,5.126325,PH157008000,PH157007033,PH157000000,Rural Health Unit,DOH000000000007237,Government,National Government,health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# Rosiel formatted

df_hosp_rhu1 = df_hosp_rhu[['category','Type','PSGC_BRGY','PSGC_CITY/MUNI','PSGC_PROV','FacilityName','LAT','LONG']]
df_hosp_rhu1.columns = ['category','subcategory','PSGC_BRGY','PSGC_CITY_MUNI','PSGC_PROV','FacilityName','latitude','longitude']
df_hosp_rhu1.to_csv('Processed/Hospitals_RHUs.csv')
df_hosp_rhu1.head()

,category,subcategory,PSGC_BRGY,PSGC_CITY_MUNI,PSGC_PROV,FacilityName,latitude,longitude
0,health,Hospital,,PH150702000,PH150700000,Lamitan District Hospital,6.656280,122.136584
1,health,Hospital,PH150705031,PH150705000,PH150700000,Sumisip District Hospital,6.425996,122.006554
2,health,Hospital,,PH150702000,PH150700000,Lamitan Infirmary,6.656264,122.136576
3,health,Hospital,PH153626034,PH153626000,PH153600000,Tamparan District Hospital,7.876309,124.328168
4,health,Hospital,,PH153615000,PH153600000,Dr. Serapio Montaner Memorial Hospital,7.581081,124.080893